Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: extract gear counter
  packages/web/src/components/GearCounter/GearCounter.tsx
  packages/web/src/components/GearCounter/index.ts
  packages/web/src/components/Player/Slider/Stats/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Revert "chore: extract gear counter"
  packages/web/src/components/GearCounter/GearCounter.tsx
  packages/web/src/components/GearCounter/index.ts
  packages/web/src/components/Player/Slider/Stats/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: handle original CdvPurchase.IError
  packages/cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

feat: use grid layout for player stats
  packages/web/src/components/Counter/index.tsx
  packages/web/src/components/Player/Slider/SliderItem.tsx
  packages/web/src/components/Player/Slider/Stats/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/cordova/src/components/CordovaProvider/index.tsx
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/SettingsList/ShareItem/index.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
  packages/web/src/utils/platforms.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.4.7
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: better store error tracking
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/cordova/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.4.8
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: wrap order IError with StoreError
  packages/cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.4.9
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

feat: record errors
  packages/cordova/src/sentry.ts
  packages/web/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.4.10
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: fix void usage in provider
  packages/cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: refactor wake lock logic
  packages/cordova/src/components/WakeLockProvider/index.tsx
  packages/web/src/components/SettingsList/KeepAwakeItem/index.tsx
  packages/web/src/components/WakeLockProvider/index.tsx
  packages/web/src/utils/wakeLockContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Italian)
  packages/web/l10n/it.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

feat: increase top icon buttons clickable area
  packages/web/src/components/Title/index.tsx
  packages/web/src/components/TopAppBar/index.tsx
  packages/web/src/components/TopIconButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  .eslintrc.json
  package.json
  packages/cordova/package.json
  packages/cordova/src/components/CordovaProvider/index.tsx
  packages/cordova/src/index.ts
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/SettingsList/ShareItem/index.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
  packages/web/src/index.tsx
  packages/web/src/store/migrations/colors/index.spec.ts
  packages/web/src/utils/platforms.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Italian) (#180)
  packages/web/l10n/it.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: enable eslint-plugin-react-hooks update
  renovate.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: skip order cancel error tracking on iOS
  packages/cordova/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  .nvmrc
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: use typography for strength
  packages/web/src/components/Player/Slider/Stats/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: use grid layout for single mode
  packages/web/src/components/Home/SinglePlayer/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

feat: use three row grid for single mode
  packages/web/src/components/Home/SinglePlayer/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.5.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: remove tap & hold on counter button
  packages/web/src/components/Combat/Counter/index.tsx
  packages/web/src/components/Counter/Button/index.tsx
  packages/web/src/components/Counter/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.5.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: remove debug
  packages/web/src/components/WakeLockProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: fix reported knip issues
  packages/site/lib/i18n.ts
  packages/web/src/components/LevelLimitDialog/LevelLimitForm.tsx
  packages/web/src/store/index.ts
  packages/web/src/store/migrations/themeMode/index.ts
  packages/web/src/utils/availableColors.ts
  packages/web/src/utils/fullVersionContext.ts
  packages/web/src/utils/versionContext.ts
  packages/web/src/utils/wakeLockContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: add knip
  .husky/pre-commit
  .lintstagedrc.json
  knip.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: upgrade typescript-eslint
  .eslintrc.json
  package.json
  packages/cordova/scripts/copy-gradle-extras.js
  tsconfig.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: eslint flat config
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  eslint.config.js
  knip.json
  package.json
  packages/cordova/scripts/copy-gradle-extras.js
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: eslint 9
  eslint.config.js
  knip.json
  package.json
  packages/cordova/scripts/copy-gradle-extras.js
  packages/web/scripts/generate-assets.js
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: migrate typescript-eslint
  eslint.config.js
  knip.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: any of: **/*.{css,html,tsx}
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: **/*
  stylelint --allow-empty-input --cache --fix: any of: **/*.css
  prettier --cache --write: (any of: **/*.css) or (any of: **/*.{js,json,ts,tsx})
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: **/*.{js,json,ts,tsx}
