Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: extract components from `ScreenDialog`
  packages/web/src/components/ScreenDialog/ScreenDialogPaper.tsx
  packages/web/src/components/ScreenDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: fix `ScreenDialog` animation
  packages/web/src/components/ScreenDialog/ScreenDialogTransition.tsx
  packages/web/src/components/ScreenDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: trunc long name in `SliderItem`
  packages/web/src/components/Player/Slider/SliderItem.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/site/next.config.ts
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  knip.json
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.1.6
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: bundle fix
  packages/pwa/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.1.7
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: relative import for Playwright test file
  packages/pwa/tests/screenshots.test.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: set up ESLint CSS plugin
  .lintstagedrc.json
  eslint.config.js
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add tooltip for delete icon button
  packages/web/l10n/en.json
  packages/web/src/components/Home/AppBar/index.tsx
  packages/web/src/components/PlayerDialog/AppBar/index.tsx
  packages/web/src/components/PlayerDialog/PlayerDialogActions.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (French)
  packages/web/l10n/fr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Spanish)
  packages/web/l10n/es.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Belarusian)
  packages/web/l10n/be.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Czech)
  packages/web/l10n/cs.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Danish)
  packages/web/l10n/da.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (German)
  packages/web/l10n/de.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Greek)
  packages/web/l10n/el.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Finnish)
  packages/web/l10n/fi.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hebrew)
  packages/web/l10n/he.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hungarian)
  packages/web/l10n/hu.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Armenian)
  packages/web/l10n/hy.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Dutch)
  packages/web/l10n/nl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Italian)
  packages/web/l10n/it.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Polish)
  packages/web/l10n/pl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese)
  packages/web/l10n/pt.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Russian)
  packages/web/l10n/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Slovak)
  packages/web/l10n/sk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Turkish)
  packages/web/l10n/tr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Ukrainian)
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese, Brazilian)
  packages/web/l10n/pt-BR.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Norwegian Bokmal)
  packages/web/l10n/nb.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(l10n): new Crowdin updates (#346)
  packages/web/l10n/be.json
  packages/web/l10n/cs.json
  packages/web/l10n/da.json
  packages/web/l10n/de.json
  packages/web/l10n/el.json
  packages/web/l10n/es.json
  packages/web/l10n/fi.json
  packages/web/l10n/fr.json
  packages/web/l10n/he.json
  packages/web/l10n/hu.json
  packages/web/l10n/hy.json
  packages/web/l10n/it.json
  packages/web/l10n/nb.json
  packages/web/l10n/nl.json
  packages/web/l10n/pl.json
  packages/web/l10n/pt-BR.json
  packages/web/l10n/pt.json
  packages/web/l10n/ru.json
  packages/web/l10n/sk.json
  packages/web/l10n/tr.json
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: equal width for landscape player stats
  packages/web/src/components/Player/Slider/Stats/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .nvmrc
  .prettierignore
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update `noSsr` handling
  packages/web/src/components/AugmentedThemeProvider/index.tsx
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: update theme options type to use `ThemeOptions`
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: remove enableColorScheme from CssBaseline
  packages/web/src/components/AugmentedThemeProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: *.css)
  prettier --write: any of: **/*.{md,yml}
  eslint --cache --fix: any of: *.{js,json,ts,tsx}
  prettier --cache --ignore-unknown --write: any of: *
