Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0, prettier --write

Simplify player list code logic
  src/routes/Home/PlayerList/Item/index.jsx
  src/routes/Home/PlayerList/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Remove disableInteractiveElementBlocking by using span for icon button
  package-lock.json
  package.json
  src/routes/Home/PlayerList/Item/index.jsx
  src/routes/Home/PlayerList/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Reduce player list item styles when dragging
  src/routes/Home/PlayerList/Item/index.jsx
  src/routes/Home/PlayerList/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Packages upgrade
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Fix duration import
  scripts/screenshots.mjs
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

remove custom style for dragging item
  src/routes/Home/PlayerList/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Fix Edge player list bottom padding
  src/routes/Home/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Sortable test
  src/routes/Home/PlayerList/Item/index.jsx
  src/routes/Home/PlayerList/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Cordova version upgrade
  cordova/config.xml
Due: none

12.6.8
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Install cordova
  .github/workflows/deploy.yml
Due: prettier --write

12.6.9
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Use single line
  .github/workflows/deploy.yml
Due: prettier --write

12.6.10
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Use new step
  .github/workflows/deploy.yml
Due: prettier --write

12.6.11
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Build fix
  .github/workflows/deploy.yml
  StatusBar.d.ts
  global.d.ts
  src/components/FullVersionProvider/index.tsx
  store.d.ts
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0, prettier --write

12.6.12
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Put name back
  cordova/config.xml
Due: none

Packages upgrade
  package-lock.json
  package.json
  src/components/AugmentedStylesProvider/index.tsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Munchkin -> Level Counter
  cordova/config.xml
  cordova/res/windows/strings/cs/resources.resjson
  cordova/res/windows/strings/da/resources.resjson
  cordova/res/windows/strings/de/resources.resjson
  cordova/res/windows/strings/el/resources.resjson
  cordova/res/windows/strings/en/resources.resjson
  cordova/res/windows/strings/es/resources.resjson
  cordova/res/windows/strings/fi/resources.resjson
  cordova/res/windows/strings/fr/resources.resjson
  cordova/res/windows/strings/hu/resources.resjson
  cordova/res/windows/strings/hy/resources.resjson
  cordova/res/windows/strings/it/resources.resjson
  cordova/res/windows/strings/nb/resources.resjson
  cordova/res/windows/strings/nl/resources.resjson
  cordova/res/windows/strings/pl/resources.resjson
  cordova/res/windows/strings/pt-BR/resources.resjson
  cordova/res/windows/strings/pt/resources.resjson
  cordova/res/windows/strings/sk/resources.resjson
  cordova/res/windows/strings/tr/resources.resjson
  cordova/translations/app/cs.json
  cordova/translations/app/da.json
  cordova/translations/app/de.json
  cordova/translations/app/el.json
  cordova/translations/app/en.json
  cordova/translations/app/es.json
  cordova/translations/app/fi.json
  cordova/translations/app/fr.json
  cordova/translations/app/hu.json
  cordova/translations/app/it.json
  cordova/translations/app/nb.json
  cordova/translations/app/nl.json
  cordova/translations/app/pl.json
  cordova/translations/app/pt-BR.json
  cordova/translations/app/pt.json
  cordova/translations/app/sk.json
  cordova/translations/app/tr.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

13.0.0
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Munchkin -> Player
  languages/en.json
  package.json
  src/components/PlayerDialog/index.tsx
  src/components/levelLimit/messages.ts
  src/components/menu/List/ShareItem/index.tsx
  src/routes/Home/AppBar/index.jsx
  src/routes/Player/AppBar/KillPlayerButton/index.jsx
  src/theme/colors/munchkin.ts
  src/web.html
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0, prettier --write

No need to pay for combat
  src/routes/Player/CombatButton/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

13.0.1
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Packages upgrade
  .nvmrc
  cordova/package-lock.json
  cordova/package.json
  jest.config.js
  package-lock.json
  package.json
  src/components/PlayerDialog/index.tsx
  src/components/TopAppBar/index.tsx
  src/ducks/players/actions.ts
  src/theme/getThemeOptions.ts
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Temporary remove translation menu item
  src/components/menu/List/index.tsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Use eslint-plugin-only-error
  .eslintrc
  .lintstagedrc
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

13.0.2
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Fix stylelint
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

13.0.3
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Packages upgrade
  cordova/package-lock.json
  cordova/package.json
  package-lock.json
  package.json
  src/components/menu/Drawer/index.tsx
  src/static/manifest.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Migrate <HelperSelector /> & player <ListItem /> to <ListItemButton />
  src/routes/Combat/HelperSelector/index.jsx
  src/routes/Player/List/Item/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0

Path conditions:
  eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings 0: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  prettier --write: any of: **/*.{html,md,yml}
