Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*": "prettier --cache --ignore-unknown --write",
  "**/*.css": "stylelint --allow-empty-input --cache --fix",
  "**/*.{js,json,ts,tsx}": "node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix"
}

Fix combat stats styling
  web/src/components/Combat/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Migrate to Routes and drop Context for playerId
  web/src/components/App/index.tsx
  web/src/components/Combat/AppBar/index.tsx
  web/src/components/CombatView/index.tsx
  web/src/components/Home/index.tsx
  web/src/components/Player/AppBar/KillPlayerButton/index.tsx
  web/src/components/Player/AppBar/index.tsx
  web/src/components/Player/CombatButton/index.tsx
  web/src/components/Player/List/index.tsx
  web/src/components/Player/index.tsx
  web/src/components/PlayerContext/index.ts
  web/src/components/PlayerView/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.6.6
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Add perfectionist and remove sort-keys
  .eslintrc.json
  package.json
  web/src/components/Combat/Counter/index.tsx
  web/src/components/Combat/HelperButton/index.tsx
  web/src/components/Combat/MonsterSlider/index.tsx
  web/src/components/Combat/PlayerSlider/index.tsx
  web/src/components/Combat/index.tsx
  web/src/components/Home/PlayerList/Item/index.tsx
  web/src/components/Home/PlayerList/OverlayItem/index.tsx
  web/src/components/Home/SinglePlayer/index.tsx
  web/src/components/Player/Slider/SliderItem.tsx
  web/src/components/Player/Slider/Stats/index.tsx
  web/src/components/Player/Slider/index.tsx
  web/src/components/Player/index.tsx
  web/src/components/ScreenFab/index.tsx
  web/src/components/TopAppBar/index.tsx
  web/src/theme/getThemeOptions.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Enable perfectionist/sort-array-includes
  .eslintrc.json
  web/src/store/migrations/colors/index.spec.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Enable perfectionist/sort-union-type
  .eslintrc.json
  web/src/components/Home/PlayerList/Item/index.tsx
  web/src/components/ThemeDialog/index.tsx
  web/src/components/UndoProvider/index.tsx
  web/src/components/UndoSnackbar/index.tsx
  web/src/components/WakeLockProvider/index.tsx
  web/src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Enable perfectionist/sort-objects
  .eslintrc.json
  scripts/screenshots.js
  web/src/components/Combat/Counter/index.tsx
  web/src/components/Combat/HelperButton/index.tsx
  web/src/components/Combat/MonsterSlider/index.tsx
  web/src/components/Combat/PlayerSlider/index.tsx
  web/src/components/Combat/index.tsx
  web/src/components/Home/PlayerList/Item/index.tsx
  web/src/components/Home/PlayerList/OverlayItem/index.tsx
  web/src/components/Home/SinglePlayer/index.tsx
  web/src/components/Player/Slider/SliderItem.tsx
  web/src/components/Player/Slider/Stats/index.tsx
  web/src/components/Player/Slider/index.tsx
  web/src/components/Player/index.tsx
  web/src/components/ScreenFab/index.tsx
  web/src/components/TopAppBar/index.tsx
  web/src/ducks/playerList/reducer.ts
  web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Set z-index for DnD overlay under FAB
  web/src/components/Home/PlayerList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Temporary disable outline for list item
  web/src/components/Home/PlayerList/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

No color type casting
  web/src/components/Combat/HelperSelector/index.tsx
  web/src/components/Home/PlayerList/Item/index.tsx
  web/src/components/Home/PlayerList/OverlayItem/index.tsx
  web/src/components/Player/List/Item/index.tsx
  web/src/components/PlayerAvatar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Do not cast event.active.id as string
  web/src/components/Home/PlayerList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Simplify Overlay item for Home List
  web/src/components/Home/PlayerList/OverlayItem/index.tsx
  web/src/components/Home/PlayerList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  .yarn/patches/@parcel-runtime-js-npm-2.9.3-95e94e0d1e.patch
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Unify shop error messages
  cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.6.7
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Migrate from Babel to SWC
  babel.config.js
  cordova/src/polyfills.ts
  web/src/polyfills.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.6.8
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Bump Cordova version
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Refactor Home bar
  web/src/components/Home/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Cancel button for helper select dialog
  web/src/components/Combat/HelperSelector/index.tsx
  web/src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Enable unicorn/prefer-top-level-await
  .eslintrc.json
  scripts/i18n/download.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Enable unicorn/prefer-module
  .eslintrc.json
  cordova/scripts/add-windows-locales.js
  web/src/store/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Enable unicorn/prefer-at
  .eslintrc.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Correct helper select list semantic
  web/src/components/Combat/HelperSelector/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use default prop in buttons
  web/src/components/CancelButton/index.tsx
  web/src/components/SubmitButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Cancel button in color picker
  web/src/components/PlayerDialog/ColorPicker/Dialog.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Extract player dialog animation
  web/src/components/PlayerDialog/PlayerDialogTransition.tsx
  web/src/components/PlayerDialog/index.tsx
  web/src/components/PlayerDialog/useFullScreen.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Simplify player dialog background color
  web/src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove unneeded fragment
  web/src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove Babel plugins
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Firebase 10
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Install firebase-tools
  web/firebase.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Folder refactoring
  .eslintrc.json
  web/src/components/App/index.tsx
  web/src/components/HomeView/index.tsx
  web/src/components/LocaleProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.6.9
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove unneeded Box usage
  web/src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix
