Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: remove retired `SplashMaintainAspectRatio`
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: use latest config.xml icon format for Android
  packages/cordova/config.xml
  packages/cordova/res/android/icons/background.xml
  packages/cordova/res/android/icons/foreground.xml
  packages/cordova/res/android/icons/hdpi.png
  packages/cordova/res/android/icons/mdpi.png
  packages/cordova/res/android/icons/monochrome.xml
  packages/cordova/res/android/icons/xhdpi.png
  packages/cordova/res/android/icons/xxhdpi.png
  packages/cordova/res/android/icons/xxxhdpi.png
  packages/cordova/res/android/mipmap-anydpi-v26/ic_launcher.xml
  packages/cordova/res/android/mipmap-anydpi-v26/ic_launcher_round.xml
  packages/cordova/res/android/mipmap-hdpi/ic_launcher_round.png
  packages/cordova/res/android/mipmap-mdpi/ic_launcher_round.png
  packages/cordova/res/android/mipmap-xhdpi/ic_launcher_round.png
  packages/cordova/res/android/mipmap-xxhdpi/ic_launcher_round.png
  packages/cordova/res/android/mipmap-xxxhdpi/ic_launcher_round.png
Due: prettier --cache --ignore-unknown --write

chore: prevent `process` polyfilling
  knip.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: use map instead of function for app store link
  packages/cordova/src/components/AppStoreLinkProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: switch to globalThis instead of window for crypto
  knip.json
  packages/web/package.json
  packages/web/src/ducks/dice/index.spec.ts
  packages/web/src/ducks/playerList/reducer.spec.ts
  packages/web/src/utils/getRandomInt.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

fix: enable back share functionality on Android
  packages/cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: add comment why not enforce `globalThis`
  eslint.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: migrate ListItemText deprecated props
  packages/web/src/components/PlayerListItemText/index.tsx
  packages/web/src/components/SettingsList/ItemText/index.tsx
  packages/web/src/components/SettingsList/LevelLimitItem/index.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: improve error handling for buyFullVersion
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/cordova/src/cordova.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
  packages/web/src/utils/fullVersionContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

15.7.4
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: drop unused .browserslistrc in root
  .browserslistrc
Due: prettier --cache --ignore-unknown --write

chore: switch to Parcel targets config
  packages/cordova/package.json
  packages/web/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: revert knip
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: use parcel cache
  package.json
  packages/cordova/package.json
  packages/web/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: update .gitignore so Prettier could use it
  .gitignore
  .prettierignore
  packages/cordova/.gitignore
  packages/site/.gitignore
  packages/web/.gitignore
Due: prettier --cache --ignore-unknown --write

feat: set up Windows project
  packages/windows/.gitignore
  packages/windows/Munchkin/App.xaml
  packages/windows/Munchkin/App.xaml.cs
  packages/windows/Munchkin/Assets/LockScreenLogo.scale-200.png
  packages/windows/Munchkin/Assets/SplashScreen.scale-200.png
  packages/windows/Munchkin/Assets/Square150x150Logo.scale-200.png
  packages/windows/Munchkin/Assets/Square44x44Logo.scale-200.png
  packages/windows/Munchkin/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  packages/windows/Munchkin/Assets/StoreLogo.png
  packages/windows/Munchkin/Assets/Wide310x150Logo.scale-200.png
  packages/windows/Munchkin/MainWindow.xaml
  packages/windows/Munchkin/MainWindow.xaml.cs
  packages/windows/Munchkin/Munchkin.csproj
  packages/windows/Munchkin/Package.appxmanifest
  packages/windows/Munchkin/Properties/launchSettings.json
  packages/windows/Munchkin/Strings/en/Resources.resw
  packages/windows/Munchkin/Strings/ru/Resources.resw
  packages/windows/Munchkin/app.manifest
  packages/windows/package.json
  packages/windows/windows.sln
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write

15.7.5
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: add cordova project docs
  packages/cordova/readme.md
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: add cordova project docs (#239)
  packages/cordova/readme.md
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .nvmrc
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  knip.json
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: update Prettier ignore config
  .prettierignore
Due: prettier --cache --ignore-unknown --write

chore: remove NODE_OPTIONS from lint-js task
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: add rimraf to cover Windows development
  knip.json
  package.json
  packages/cordova/tsconfig.json
  packages/windows/Munchkin/Munchkin.csproj
  packages/windows/package.json
  packages/windows/tsconfig.json
  tsconfig.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  knip.json
  package.json
  packages/cordova/package.json
  packages/cordova/tsconfig.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/store/index.ts
  packages/windows/package.json
  tsconfig.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: fix sonar report
  packages/web/src/components/Home/PlayerList/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

feat: use react-aria instead of motion for long press
  packages/web/package.json
  packages/web/src/components/App/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  eslint.config.js
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  .releaserc.json
  knip.json
  package.json
  packages/cordova/package.json
  packages/site/instrumentation.ts
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/Loading/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: update ESLint config
  eslint.config.js
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

feat: re-implement long press for counter
  packages/web/src/components/Combat/Counter/index.tsx
  packages/web/src/components/Counter/Button/index.tsx
  packages/web/src/components/Counter/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

15.7.6
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: *.css)
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: *
  prettier --cache --write: (any of: *.css) or (any of: *.{js,ts,tsx})
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: *.{js,ts,tsx}
  madge --circular: any of: *.{js,ts,tsx}
