Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

globalThis polyfill
  packages/site/app/(multilingual)/[language]/layout.tsx
  packages/site/app/layout.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Adjust sample rate
  packages/site/sentry.client.config.ts
  packages/site/sentry.edge.config.ts
  packages/site/sentry.server.config.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix hydration diff
  packages/site/app/(multilingual)/[language]/page.tsx
  packages/site/app/(not-multilingual)/layout.tsx
  packages/site/app/(not-multilingual)/not-found.tsx
  packages/site/app/(not-multilingual)/privacy/page.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Attempt to fix infinite counter
  packages/web/src/components/Counter/Button/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix Sonar issues
  packages/cordova/src/components/WakeLockProvider/index.tsx
  packages/web/src/components/Combat/MonsterSlider/index.tsx
  packages/web/src/components/Combat/PlayerSlider/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/WakeLockProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove unneeded conditions for wake lock
  packages/cordova/src/components/WakeLockProvider/index.tsx
  packages/web/src/components/WakeLockProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Increase code coverage
  packages/web/src/ducks/monsters/actions.ts
  packages/web/src/ducks/monsters/reducer.ts
  packages/web/src/ducks/players/index.spec.ts
  packages/web/src/ducks/players/reducer.ts
  packages/web/src/store/migrations/colors/index.ts
  packages/web/src/store/migrations/themeMode/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Apply type conversion
  packages/web/src/components/Home/PlayerList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Move languages under their package
  .gitignore
  package.json
  packages/web/languages/cs.json
  packages/web/languages/da.json
  packages/web/languages/de.json
  packages/web/languages/el.json
  packages/web/languages/en.json
  packages/web/languages/es.json
  packages/web/languages/fi.json
  packages/web/languages/fr.json
  packages/web/languages/he.json
  packages/web/languages/hu.json
  packages/web/languages/hy.json
  packages/web/languages/it.json
  packages/web/languages/nb.json
  packages/web/languages/nl.json
  packages/web/languages/pl.json
  packages/web/languages/pt-BR.json
  packages/web/languages/pt.json
  packages/web/languages/ru.json
  packages/web/languages/sk.json
  packages/web/languages/tr.json
  packages/web/languages/uk.json
  packages/web/package.json
  packages/web/src/i18n.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Update App Store link logic
  packages/cordova/src/components/AppStoreLinkProvider/index.tsx
  packages/web/src/components/SettingsList/RateItem/index.tsx
  packages/web/src/utils/appStoreLinkContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Enable unicorn/no-useless-undefined
  .eslintrc.json
  packages/web/src/components/WorkboxProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

No unneeded null usage
  packages/site/lib/i18n.ts
  scripts/i18n/download.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove unused scripts
  scripts/i18n/download.js
  scripts/poeditor.js
  scripts/smartcat.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix site deploy
  package.json
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Adjust l18n folder structure
  .gitignore
  packages/web/l10n/sources/messages.json
  packages/web/l10n/translations/cs.json
  packages/web/l10n/translations/da.json
  packages/web/l10n/translations/de.json
  packages/web/l10n/translations/el.json
  packages/web/l10n/translations/en.json
  packages/web/l10n/translations/es.json
  packages/web/l10n/translations/fi.json
  packages/web/l10n/translations/fr.json
  packages/web/l10n/translations/he.json
  packages/web/l10n/translations/hu.json
  packages/web/l10n/translations/hy.json
  packages/web/l10n/translations/it.json
  packages/web/l10n/translations/nb.json
  packages/web/l10n/translations/nl.json
  packages/web/l10n/translations/pl.json
  packages/web/l10n/translations/pt-BR.json
  packages/web/l10n/translations/pt.json
  packages/web/l10n/translations/ru.json
  packages/web/l10n/translations/sk.json
  packages/web/l10n/translations/tr.json
  packages/web/l10n/translations/uk.json
  packages/web/package.json
  packages/web/src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Update Crowdin configuration file
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Specify exact source location
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

New translations messages.json (German)
  packages/web/l10n/translations/de.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations messages.json (Russian)
  packages/web/l10n/translations/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (German)
  packages/web/l10n/de.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Russian)
  packages/web/l10n/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Update locale file names
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Fix translations path
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Add more translations
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Exclude `en` locale
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Fix excluded languages list
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

New translations en.json (Czech)
  packages/site/locales/cs.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Russian)
  packages/site/locales/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Russian)
  packages/web/src/templates/data/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Exclude cs from site localres
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

New translations en.json (Belarusian)
  packages/web/l10n/be-BY.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Belarusian)
  packages/site/locales/be-BY.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: any of: **/*.{css,html,tsx}
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: **/*
  stylelint --allow-empty-input --cache --fix: any of: **/*.css
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: **/*.{js,json,ts,tsx}
