Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*": "prettier --cache --ignore-unknown --write",
  "**/*.css": "stylelint --allow-empty-input --cache --fix",
  "**/*.{js,json,ts,tsx}": "node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix"
}

New translations en.json (Belarusian)
  packages/web/src/templates/data/be-BY.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Belarusian)
  packages/web/l10n/be-BY.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Exclude be locale from site & assets
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Fix locale
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

New translations en.json (Belarusian)
  packages/web/l10n/be.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix ignore list
  .gitignore
  packages/web/l10n/generated/cs.json
  packages/web/l10n/generated/da.json
  packages/web/l10n/generated/de.json
  packages/web/l10n/generated/el.json
  packages/web/l10n/generated/en.json
  packages/web/l10n/generated/es.json
  packages/web/l10n/generated/fi.json
  packages/web/l10n/generated/fr.json
  packages/web/l10n/generated/he.json
  packages/web/l10n/generated/hu.json
  packages/web/l10n/generated/hy.json
  packages/web/l10n/generated/it.json
  packages/web/l10n/generated/nb.json
  packages/web/l10n/generated/nl.json
  packages/web/l10n/generated/pl.json
  packages/web/l10n/generated/pt-BR.json
  packages/web/l10n/generated/pt.json
  packages/web/l10n/generated/ru.json
  packages/web/l10n/generated/sk.json
  packages/web/l10n/generated/tr.json
  packages/web/l10n/generated/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Add Belarusian locale
  packages/cordova/translations/app/be.json
  packages/web/l10n/be.json
  packages/web/src/components/LocaleProvider/polyfillIntl.ts
  packages/web/src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

SupportedLocale -> AvailableLocale
  packages/web/src/components/LocaleProvider/index.tsx
  packages/web/src/components/LocaleProvider/polyfillIntl.ts
  packages/web/src/dev/players.ts
  packages/web/src/ducks/settings/index.ts
  packages/web/src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Apply sideEffects to all packages
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Update Intl polyfills loader types
  packages/web/src/components/LocaleProvider/polyfillIntl.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Update prop sorting rule
  .eslintrc.json
  packages/site/.eslintrc.json
  packages/site/app/(multilingual)/[language]/page.tsx
  packages/web/src/components/DiceDialog/index.tsx
  packages/web/src/components/Home/AppBar/index.tsx
  packages/web/src/components/Home/PlayerAddButton/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Color.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/index.tsx
  packages/web/src/components/PlayerDialog/PlayerDialogTransition.tsx
  packages/web/src/components/ScreenDialog/TransitionComponent.tsx
  packages/web/src/components/ScreenFab/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix Sonar issues
  packages/web/src/components/PlayerDialog/ColorPicker/Color.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Refactor level limit dialog
  packages/web/src/components/LevelLimitDialog/LevelLimitForm.tsx
  packages/web/src/components/LevelLimitDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Utilize `useSearchParams`
  packages/web/src/components/Combat/HelperSelector/index.tsx
  packages/web/src/components/SettingsList/LevelLimitItem/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
  packages/web/src/components/ThemeSchemeDialog/index.tsx
  packages/web/src/hooks/useMultiMode.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Change level limit icon
  packages/web/src/components/SettingsList/LevelLimitItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix Sonar issue with useState naming
  packages/web/src/components/LevelLimitDialog/LevelLimitForm.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

First migration to data routers
  packages/cordova/package.json
  packages/cordova/src/cordova.tsx
  packages/cordova/src/polyfills.ts
  packages/web/src/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove unused Suspense
  packages/cordova/src/cordova.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Move common components outside router
  packages/cordova/src/cordova.tsx
  packages/web/src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Make setAppLocale payload optional
  packages/web/src/dev/index.ts
  packages/web/src/ducks/settings/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use clickCount instead of multiple clicks
  scripts/screenshots.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use parcel inside screenshot task
  package.json
  scripts/screenshots.js
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Add BE test data
  packages/web/src/dev/index.ts
  packages/web/src/dev/players.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use TypeScript for screenshot script
  package.json
  scripts/screenshots.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  .yarn/patches/@parcel-runtime-js-npm-2.11.0-d9caebabcf.patch
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use import in version script instead of fs
  .github/workflows/deploy-app.yml
  package.json
  scripts/version.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Reuse locales from web workspace [skip ci]
  package.json
  packages/web/package.json
  packages/web/src/i18n.ts
  scripts/screenshots.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Rename version task
  .github/workflows/deploy-app.yml
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.3.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix locale compile
  .github/workflows/deploy-app.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

15.3.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Do not animate setting dialog on app update
  packages/web/src/components/ScreenDialog/index.tsx
  packages/web/src/hooks/useInitialRender.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Temporary drop workspace imports
  package.json
  packages/web/package.json
  scripts/screenshots.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Convert Jest config to TypeScript
  jest.config.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix
