Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Refactor Player Avatar selected color
  packages/web/src/components/PlayerAvatar/index.tsx
  packages/web/src/theme/colors/apocalypse.ts
  packages/web/src/theme/colors/booty.ts
  packages/web/src/theme/colors/cthulhu.ts
  packages/web/src/theme/colors/legends.ts
  packages/web/src/theme/colors/munchkin.ts
  packages/web/src/theme/colors/star.ts
  packages/web/src/theme/colors/super.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Simplify condition
  packages/web/src/components/PlayerDialog/ColorPicker/Color.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Replace firebase for npx firebase-tools
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  packages/cordova/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove windows polyfill
  packages/cordova/package.json
  packages/cordova/src/polyfills.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Cleanup before build
  packages/cordova/package.json
  packages/web/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Move landing site to this repo
  .eslintignore
  .github/workflows/deploy-site.yml
  .gitignore
  .stylelintignore
  package.json
  packages/site/.env
  packages/site/.eslintrc.json
  packages/site/app/[language]/layout.tsx
  packages/site/app/[language]/page.tsx
  packages/site/app/icon.png
  packages/site/app/index.html/route.ts
  packages/site/app/privacy/layout.tsx
  packages/site/app/privacy/page.tsx
  packages/site/components/Home.tsx
  packages/site/components/I18nProvider.tsx
  packages/site/components/PrivacyPolicy.tsx
  packages/site/components/StoreButton.tsx
  packages/site/components/ThemeRegistry.tsx
  packages/site/fonts/munchkin.woff2
  packages/site/lib/i18n.ts
  packages/site/lib/languages.ts
  packages/site/lib/locales.ts
  packages/site/lib/munchkinFont.ts
  packages/site/lib/theme.ts
  packages/site/locales/en.json
  packages/site/locales/ru.json
  packages/site/next-env.d.ts
  packages/site/next.config.js
  packages/site/package.json
  packages/site/sentry.client.config.ts
  packages/site/sentry.edge.config.ts
  packages/site/sentry.server.config.ts
  packages/site/tsconfig.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Bypass Jekyll
  .github/workflows/deploy-site.yml
  packages/site/public/.nojekyll
Due: prettier --write, prettier --cache --ignore-unknown --write

Fix home page
  packages/site/app/index.html/route.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix privacy link
  packages/site/components/Home.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Deploy site to Firebase
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-site.yml
  package.json
  packages/site/.firebaserc
  packages/site/firebase.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Add GTM
  packages/site/app/[language]/layout.tsx
  packages/site/app/privacy/layout.tsx
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix site deployment
  .github/workflows/deploy-site.yml
  packages/site/.firebaserc
Due: prettier --write, prettier --cache --ignore-unknown --write

Fix target
  packages/site/firebase.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Next.js cache setup
  .github/workflows/deploy-site.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Setup site config
  .github/workflows/deploy-site.yml
  packages/site/.firebaserc
  packages/site/firebase.json
  packages/site/next.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Correct hosting target
  .github/workflows/deploy-site.yml
  packages/site/.firebaserc
  packages/site/firebase.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.7.4
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix app build
  .github/workflows/deploy-app.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

14.7.5
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Site icons
  packages/site/app/apple-icon.png
  packages/site/app/favicon.ico
  packages/site/app/icon-192.png
  packages/site/app/icon-512.png
  packages/site/app/icon.png
  packages/site/app/icon.svg
  packages/site/app/manifest.ts
  packages/site/next.config.js
  packages/site/public/.nojekyll
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  .yarn/patches/@parcel-runtime-js-npm-2.10.3-ca5722d3ee.patch
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove index page
  packages/site/app/index.html/route.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Server components
  packages/site/app/[language]/page.tsx
  packages/site/components/Home.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Test responsive values
  packages/web/src/components/Player/Slider/Stats/index.tsx
  packages/web/src/components/Player/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix return type issue
  packages/cordova/src/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix home page redirect
  packages/site/firebase.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Utilize Firebase i18n
  packages/site/firebase.json
  packages/site/next.config.js
  packages/site/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Attempt to fix restore-keys
  .github/workflows/deploy-site.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Attempt to fix i18n
  packages/site/firebase.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  .nvmrc
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use Firebase i18n functionality. Switch to hash router
  .gitignore
  packages/web/firebase.json
  packages/web/package.json
  packages/web/scripts/generate-html.js
  packages/web/src/components/LocaleProvider/index.tsx
  packages/web/src/index.tsx
  packages/web/src/localized-files/locale/index.html.hbs
  packages/web/workbox.config.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use intl for index.html i18n
  packages/web/scripts/generate-html.js
  packages/web/src/templates/html/index.html.hbs
  packages/web/src/templates/locales/en.json
  packages/web/src/templates/locales/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Generate manifest.webmanifest
  .gitignore
  .prettierignore
  packages/web/package.json
  packages/web/scripts/generate-assets.js
  packages/web/scripts/generate-html.js
  packages/web/src/templates/data/en.json
  packages/web/src/templates/data/ru.json
  packages/web/src/templates/locales/en.json
  packages/web/src/templates/locales/ru.json
  packages/web/src/templates/markup/index.html.hbs
  packages/web/src/templates/markup/manifest.webmanifest.hbs
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use yarn for lint-staged
  .husky/pre-commit
Due: prettier --cache --ignore-unknown --write

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: any of: **/*.{css,html,tsx}
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: **/*
  stylelint --allow-empty-input --cache --fix: any of: **/*.css
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: **/*.{js,json,ts,tsx}
