Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*": "prettier --cache --ignore-unknown --write",
  "**/*.css": "stylelint --allow-empty-input --cache --fix",
  "**/*.{cjs,js,json,ts,tsx}": "eslint --cache --fix"
}

Enable unicorn/no-array-reduce
  .eslintrc.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/prefer-optional-catch-binding
  .eslintrc.json
  scripts/screenshots.js
  web/src/components/SettingsList/ShareItem/index.tsx
  web/src/components/SettingsList/SingleModeItem/index.tsx
  web/src/components/ThemeDialog/index.tsx
  web/src/store/localStorage.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/prefer-spread
  .eslintrc.json
  web/src/components/PlayerAvatar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/explicit-length-check
  .eslintrc.json
  web/src/utils/getRandomMaterialColor.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/consistent-destructuring
  .eslintrc.json
  web/src/components/AugmentedThemeProvider/index.tsx
  web/src/components/Combat/index.tsx
  web/src/ducks/monsters/index.spec.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/consistent-function-scoping
  .eslintrc.json
  web/src/components/Combat/Counter/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/prefer-dom-node-append
  .eslintrc.json
  cordova/src/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/prefer-query-selector
  .eslintrc.json
  cordova/src/cordova.tsx
  web/src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/prefer-ternary
  .eslintrc.json
  web/src/components/BackButton/index.tsx
  web/src/components/SettingsList/LevelLimitItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/prefer-set-has
  .eslintrc.json
  web/src/components/Counter/Label/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/no-array-for-each
  .eslintrc.json
  scripts/poeditor.js
  web/src/components/ThemeDialog/index.tsx
  web/src/dev/index.ts
  web/src/store/migrations/colors/index.spec.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update types in AppBar
  web/src/components/Home/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Patch parcel URL resolver
  .yarn/patches/@parcel-runtime-js-npm-2.9.1-f255b14962.patch
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Rollback cordova CLI to 11 for Windows build
  cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.6.3
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Bump Cordova version
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Move Sentry init in separate chunk
  web/src/index.html
  web/src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Improve color-scheme management for PWA
  .lintstagedrc.json
  cordova/src/components/CordovaProvider/hideWindowsBackButton.ts
  package.json
  web/src/components/AugmentedThemeProvider/index.tsx
  web/src/components/ThemeColorProvider/index.tsx
  web/src/global.css
  web/src/index.html
  web/src/index.tsx
  web/src/manifest.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix

Fix TypeScript check issue
  cordova/src/components/CordovaProvider/hideWindowsBackButton.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

manifest.json -> manifest.webmanifest
  web/src/index.html
  web/src/manifest.webmanifest
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

Drop unneeded icon sizes
  web/src/images/icon-120x120.png
  web/src/images/icon-152x152.png
  web/src/images/icon-167x167.png
  web/src/images/icon-256x256.png
  web/src/images/icon-384x384.png
  web/src/index.html
  web/src/manifest.webmanifest
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

Fix theme color to fit dialog backdrop
  web/src/components/ThemeColorProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Revert Sentry extraction
  web/src/index.html
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

Memo WorkboxProvider value
  web/src/components/WorkboxProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use transparent bar on iOS
  web/src/index.html
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

14.6.4
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  babel.config.js
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

TypeScript 5.1 upgrade
  package.json
  web/package.json
  web/src/components/Home/PlayerList/Item/DragIconButton/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Remove onKeyDown from counter button. Provided out of the box https://www.framer.com/motion/gestures/##accessibility
  web/src/components/Counter/Button/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update CounterButtonProps
  web/src/components/Counter/Button/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Refactor tap & hold functionality
  web/src/components/Counter/Button/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update player list item tap logic
  web/src/components/Home/PlayerList/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.6.5
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix Redux warning about selector memo in player selector
  web/src/components/Combat/HelperSelector/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix
