Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*": "prettier --cache --ignore-unknown --write",
  "**/*.css": "stylelint --allow-empty-input --cache --fix",
  "**/*.{cjs,js,json,ts,tsx}": "eslint --cache --fix"
}

Migrate colors to token names
  .eslintrc.json
  web/src/components/PlayerAvatar/index.tsx
  web/src/components/PlayerDialog/ColorPicker/Color.tsx
  web/src/components/PlayerDialog/ColorPicker/Dialog.tsx
  web/src/components/PlayerDialog/ColorPicker/Popover.tsx
  web/src/components/PlayerDialog/ColorPicker/index.tsx
  web/src/dev/players.ts
  web/src/store/migrations/colors/index.spec.ts
  web/src/store/migrations/colors/index.ts
  web/src/store/migrations/colors/state.json
  web/src/store/migrations/index.ts
  web/src/utils/availableColors.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Dark avatar colors
  web/src/components/PlayerAvatar/index.tsx
  web/src/components/PlayerDialog/ColorPicker/Color.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

useLocation -> useSearchParams and legends theme correction
  web/src/hooks/usePreviewTheme.ts
  web/src/theme/colors/legends.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Add colors for dark theme variants
  web/src/components/AugmentedThemeProvider/index.tsx
  web/src/theme/colors/apocalypse.ts
  web/src/theme/colors/booty.ts
  web/src/theme/colors/cthulhu.ts
  web/src/theme/colors/legends.ts
  web/src/theme/colors/munchkin.ts
  web/src/theme/colors/star.ts
  web/src/theme/colors/super.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Drop defaultProps
  web/src/components/CancelButton/index.tsx
  web/src/components/Combat/Counter/index.tsx
  web/src/components/Combat/PlayerSlider/index.tsx
  web/src/components/Counter/Button/index.tsx
  web/src/components/Counter/index.tsx
  web/src/components/Player/index.tsx
  web/src/components/PlayerDialog/ColorPicker/Color.tsx
  web/src/components/SubmitButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

useLocation -> useSearchParams for dice & player add button
  web/src/components/DiceButton/index.tsx
  web/src/components/Home/PlayerAddButton/index.tsx
  web/src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Drop lazy usage in App component
  web/src/components/App/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use useSearchParams for edit mode handling
  web/src/components/Home/PlayerList/Item/index.tsx
  web/src/hooks/useEditMode.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Refactor EditButton
  web/src/components/Home/AppBar/EditButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  cordova/package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update actions script
  .github/workflows/deploy.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Generate screenshots for all languages
  scripts/screenshots.js
  web/src/dev/index.ts
  web/src/dev/players.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Yarn upgrade
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update yarn.lock
  yarn.lock
Due: prettier --cache --ignore-unknown --write

14.6.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Revert cordova-android
  cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.6.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix slider when scrollLeft is float and greater that container width
  web/src/components/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.6.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Bump Cordova version
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Packages upgrade
  .nvmrc
  .yarn/patches/@parcel-runtime-js-npm-2.8.3-a82379279f.patch
  .yarn/patches/@parcel-runtime-js-npm-2.9.1-f255b14962.patch
  cordova/package.json
  package.json
  readme.md
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

Lower Android min SDK
  cordova/.browserslistrc
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Packages upgrade
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

Remove jsxImportSource because no css prop is used
  tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Define type import/export rules
  .eslintrc.json
  web/src/components/PlayerDialog/index.tsx
  web/src/store/localStorage.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Add unicorn/recommended preset
  .eslintrc.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/catch-error-name
  .eslintrc.json
  scripts/i18n/download.js
  scripts/screenshots.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/switch-case-braces
  .eslintrc.json
  cordova/src/components/AppStoreLinkProvider/index.tsx
  web/src/components/LevelLimitDialog/index.tsx
  web/src/ducks/monsters/reducer.ts
  web/src/ducks/players/reducer.ts
  web/src/utils/toggleSex.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/numeric-separators-style
  .eslintrc.json
  cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/prefer-string-slice
  .eslintrc.json
  web/src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/prefer-array-some
  .eslintrc.json
  web/src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/new-for-builtins
  .eslintrc.json
  scripts/screenshots.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Enable unicorn/prefer-node-protocol
  .eslintrc.json
  scripts/i18n/download.js
  scripts/screenshots.js
  scripts/version.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Add player reset test
  web/src/ducks/players/index.spec.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Refactor players/resetPlayers action
  web/src/ducks/players/reducer.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix
