Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

15.6.4
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: update screenshots conditions
  packages/web/playwright.config.ts
  packages/web/tests/screenshots.test.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

fix: fix Sentry release version for cordova apps
  packages/cordova/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: set replaysSessionSampleRate to 0
  packages/cordova/src/sentry.ts
  packages/site/sentry.client.config.ts
  packages/web/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: report to Sentry about Intl polyfill
  packages/web/src/components/LocaleProvider/polyfillIntl.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

feat: add tooltip for `Clear selection` button
  packages/web/l10n/en.json
  packages/web/src/components/Home/AppBar/CancelButton.tsx
  packages/web/src/components/Home/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore(l10n): new translations en.json (French)
  packages/web/l10n/fr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Spanish)
  packages/web/l10n/es.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Belarusian)
  packages/web/l10n/be.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Czech)
  packages/web/l10n/cs.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Danish)
  packages/web/l10n/da.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (German)
  packages/web/l10n/de.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Greek)
  packages/web/l10n/el.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Finnish)
  packages/web/l10n/fi.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hebrew)
  packages/web/l10n/he.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hungarian)
  packages/web/l10n/hu.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Armenian)
  packages/web/l10n/hy.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Italian)
  packages/web/l10n/it.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Dutch)
  packages/web/l10n/nl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Polish)
  packages/web/l10n/pl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese)
  packages/web/l10n/pt.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Russian)
  packages/web/l10n/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Slovak)
  packages/web/l10n/sk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Turkish)
  packages/web/l10n/tr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Ukrainian)
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese, Brazilian)
  packages/web/l10n/pt-BR.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Norwegian Bokmal)
  packages/web/l10n/nb.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new Crowdin updates (#235)
  packages/web/l10n/be.json
  packages/web/l10n/cs.json
  packages/web/l10n/da.json
  packages/web/l10n/de.json
  packages/web/l10n/el.json
  packages/web/l10n/es.json
  packages/web/l10n/fi.json
  packages/web/l10n/fr.json
  packages/web/l10n/he.json
  packages/web/l10n/hu.json
  packages/web/l10n/hy.json
  packages/web/l10n/it.json
  packages/web/l10n/nb.json
  packages/web/l10n/nl.json
  packages/web/l10n/pl.json
  packages/web/l10n/pt-BR.json
  packages/web/l10n/pt.json
  packages/web/l10n/ru.json
  packages/web/l10n/sk.json
  packages/web/l10n/tr.json
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: remove unneeded PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-site.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: ignore error `validProducts.find is not a function`
  packages/cordova/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

fix: add `Version` title to related list item
  packages/web/l10n/en.json
  packages/web/src/components/SettingsList/VersionItem/index.tsx
  packages/web/src/components/VersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: *.css)
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: *
  prettier --cache --write: (any of: *.css) or (any of: *.{js,ts,tsx})
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: *.{js,ts,tsx}
  madge --circular: any of: *.{js,ts,tsx}
