Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Refactor buy full version logic
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.1.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Bump Cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Packages upgrade
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Switch to CssVarsProvider
  packages/web/src/components/AugmentedThemeProvider/ModeProvider.tsx
  packages/web/src/components/AugmentedThemeProvider/index.tsx
  packages/web/src/theme/colors/apocalypse.ts
  packages/web/src/theme/colors/booty.ts
  packages/web/src/theme/colors/cthulhu.ts
  packages/web/src/theme/colors/legends.ts
  packages/web/src/theme/colors/munchkin.ts
  packages/web/src/theme/colors/star.ts
  packages/web/src/theme/colors/super.ts
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use @mui/material-nextjs instead of custom solution
  packages/site/app/[language]/layout.tsx
  packages/site/app/privacy/layout.tsx
  packages/site/components/ThemeRegistry.tsx
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Switch to trailing slash
  packages/site/firebase.json
  packages/site/next.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Extract Analytics component
  packages/site/app/[language]/layout.tsx
  packages/site/app/privacy/layout.tsx
  packages/site/components/Analytics.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Enable typedRoutes
  packages/site/next.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Add 404 page
  packages/site/app/(multilingual)/[language]/layout.tsx
  packages/site/app/(multilingual)/[language]/page.tsx
  packages/site/app/layout.tsx
  packages/site/app/not-found.tsx
  packages/site/components/I18nProvider.tsx
  packages/site/components/PrivacyPolicy.tsx
  packages/site/components/StoreButton.tsx
  packages/site/components/ThemeRegistry.tsx
  packages/site/lib/theme.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use optimised imports for Next.js
  packages/site/app/(multilingual)/[language]/page.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove unused locales_config.xml
  packages/cordova/res/android/xml/locales_config.xml
Due: prettier --cache --ignore-unknown --write

ScreenFab RTL support
  packages/web/src/components/ScreenFab/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix hydration warning
  packages/site/app/layout.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

ModeProvider -> ModeSwitcher
  packages/web/src/components/AugmentedThemeProvider/ModeSwitcher.tsx
  packages/web/src/components/AugmentedThemeProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Drop stylelint-prettier
  .stylelintrc.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Split theme options
  languages/cs.json
  languages/da.json
  languages/de.json
  languages/el.json
  languages/en.json
  languages/es.json
  languages/fi.json
  languages/fr.json
  languages/he.json
  languages/hu.json
  languages/hy.json
  languages/it.json
  languages/nb.json
  languages/nl.json
  languages/pl.json
  languages/pt-BR.json
  languages/pt.json
  languages/ru.json
  languages/sk.json
  languages/tr.json
  languages/uk.json
  packages/web/src/components/Home/index.tsx
  packages/web/src/components/SettingsList/ThemeItem/index.tsx
  packages/web/src/components/SettingsList/ThemeSchemeItem/index.tsx
  packages/web/src/components/SettingsList/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
  packages/web/src/components/ThemeSchemeDialog/index.tsx
  packages/web/src/messages/theme.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Drop speed dial action custom color
  packages/web/src/components/Combat/HelperButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use useSearchParams in speed dial
  packages/web/src/components/Combat/HelperButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix duplicated import
  packages/site/app/(multilingual)/[language]/layout.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Simplify with `else if`
  packages/cordova/src/components/WakeLockProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use handler type [skip ci]
  packages/web/src/components/Home/PlayerList/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Memo context value
  packages/cordova/src/components/WakeLockProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Prefer optional chaining [skip ci]
  packages/web/src/components/PlayerDialog/ColorPicker/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use theme.spacing [skip ci]
  packages/web/src/components/SettingsList/SettingsListItemButton.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Memo context value [skip ci]
  packages/web/src/components/WakeLockProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Validate Jest config [skip ci]
  jest.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.2.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix app bar bg color
  packages/web/src/components/TopAppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.2.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Unify imports in screenshots.js
  scripts/screenshots.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: any of: **/*.{css,html,tsx}
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: **/*
  stylelint --allow-empty-input --cache --fix: any of: **/*.css
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: **/*.{js,json,ts,tsx}
