Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*": "prettier --cache --ignore-unknown --write",
  "*.css": ["stylelint --cache --fix", "prettier --cache --write"],
  "*.{js,ts,tsx}": [
    "node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix",
    "madge --circular",
    "prettier --cache --write"
  ]
}

chore(l10n): new translations en.json (Greek)
  packages/web/l10n/el.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Finnish)
  packages/web/l10n/fi.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hebrew)
  packages/web/l10n/he.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hungarian)
  packages/web/l10n/hu.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Armenian)
  packages/web/l10n/hy.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Italian)
  packages/web/l10n/it.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Dutch)
  packages/web/l10n/nl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Polish)
  packages/web/l10n/pl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese)
  packages/web/l10n/pt.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Slovak)
  packages/web/l10n/sk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Russian)
  packages/web/l10n/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Turkish)
  packages/web/l10n/tr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Ukrainian)
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese, Brazilian)
  packages/web/l10n/pt-BR.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Norwegian Bokmal)
  packages/web/l10n/nb.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new Crowdin updates (#236)
  packages/web/l10n/be.json
  packages/web/l10n/cs.json
  packages/web/l10n/da.json
  packages/web/l10n/de.json
  packages/web/l10n/el.json
  packages/web/l10n/es.json
  packages/web/l10n/fi.json
  packages/web/l10n/fr.json
  packages/web/l10n/he.json
  packages/web/l10n/hu.json
  packages/web/l10n/hy.json
  packages/web/l10n/it.json
  packages/web/l10n/nb.json
  packages/web/l10n/nl.json
  packages/web/l10n/pl.json
  packages/web/l10n/pt-BR.json
  packages/web/l10n/pt.json
  packages/web/l10n/ru.json
  packages/web/l10n/sk.json
  packages/web/l10n/tr.json
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

15.6.5
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: packages upgrade
  eslint.config.js
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/Combat/HelperButton/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: refactor helper button
  packages/web/src/components/Combat/HelperButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: upgrade Yarn v4.5.2
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.5.2.cjs
  .yarnrc.yml
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write

chore: update ESLint config
  eslint.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: upgrade react-router to v7
  package.json
  packages/cordova/package.json
  packages/cordova/src/components/CordovaProvider/index.tsx
  packages/cordova/src/components/CordovaProvider/useNavigationBreadcrumbs.ts
  packages/cordova/src/cordova.tsx
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/Combat/HelperButton/index.tsx
  packages/web/src/components/Combat/HelperSelector/index.tsx
  packages/web/src/components/DiceButton/index.tsx
  packages/web/src/components/DiceDialog/index.tsx
  packages/web/src/components/Home/PlayerAddButton/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/LevelLimitDialog/index.tsx
  packages/web/src/components/Player/CombatButton/index.tsx
  packages/web/src/components/Player/Slider/index.tsx
  packages/web/src/components/Player/index.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/index.tsx
  packages/web/src/components/PlayerDialog/index.tsx
  packages/web/src/components/RouteScreenDialog/RouteScreenDialog.tsx
  packages/web/src/components/SettingsIconButton/index.tsx
  packages/web/src/components/SettingsList/LevelLimitItem/index.tsx
  packages/web/src/components/SettingsList/ThemeItem/index.tsx
  packages/web/src/components/SettingsList/ThemeSchemeItem/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
  packages/web/src/components/ThemeSchemeDialog/index.tsx
  packages/web/src/hooks/useEditMode.ts
  packages/web/src/hooks/useMultiMode.ts
  packages/web/src/hooks/usePlayerId.ts
  packages/web/src/hooks/usePreviewTheme.ts
  packages/web/src/index.tsx
  packages/web/src/utils/location.ts
  packages/web/src/utils/useScreenView.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: upgrade @dnd-kit
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: move polyfills & sentry in separate chunks
  knip.json
  packages/web/scripts/generate-assets.js
  packages/web/src/index.html
  packages/web/src/index.tsx
  packages/web/src/manifest.webmanifest
  packages/web/src/templates/markup/index.html.hbs
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: add Cloudflare Web Analytics
  packages/web/src/index.html
  packages/web/src/templates/markup/index.html.hbs
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

15.6.6
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: fix linting
  packages/web/src/components/Combat/AppBar/index.tsx
  packages/web/src/components/Home/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

15.6.7
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: remove Cloudflare Web Analytics
  packages/web/src/index.html
  packages/web/src/templates/markup/index.html.hbs
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

chore: unify path for manifest.webmanifest
  packages/web/src/index.html
  packages/web/src/templates/markup/index.html.hbs
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

chore: drop old Edge support
  packages/web/.browserslistrc
Due: prettier --cache --ignore-unknown --write

chore: update firebase dependency versions
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: disable auto screen reporting
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: move polyfills to separate chunk in Cordova
  knip.json
  packages/cordova/src/index.html
  packages/cordova/src/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: remove Windows related meta
  packages/cordova/src/index.html
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

chore: use swr for screen view in web like in Cordova
  packages/web/src/components/ScreenViewProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

feat: raise chrome to 66 caused by react-router upgrade to v7
  packages/cordova/.browserslistrc
Due: prettier --cache --ignore-unknown --write

feat: use default publicUrl for Cordova build after dropping Windows
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write
