Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: add doctype to template
  packages/web/src/templates/markup/index.html.hbs
  prettier.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: fix dynamic import assert
  packages/web/scripts/generate-assets.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: remove React Router warning related to v7 future upgrade
  packages/web/src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: remove unneeded CSS grid setup
  packages/web/src/components/Home/SinglePlayer/index.tsx
  packages/web/src/components/Player/Slider/Stats/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

feat: initial reduced motion support
  packages/web/src/components/AugmentedThemeProvider/index.tsx
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: migrate screenshots to @playwright/test
  packages/web/package.json
  packages/web/playwright.config.ts
  packages/web/scripts/screenshots.ts
  packages/web/src/store/migrations/colors/index.ts
  packages/web/src/store/migrations/themeMode/index.ts
  packages/web/tests/screenshots.test.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: convert Jest config from TS to ESM
  jest.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: reduce bundle size by moving from TextField to separate components
  packages/web/src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: add TS configs for packages
  packages/cordova/tsconfig.json
  packages/web/tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: use next.config.ts file
  eslint.config.js
  packages/site/next.config.ts
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: disable Next.js telemetry
  .github/workflows/deploy-site.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

fix: correctly display negative numbers for rtl locales
  packages/web/src/components/Combat/Counter/index.tsx
  packages/web/src/components/Combat/index.tsx
  packages/web/src/components/Counter/index.tsx
  packages/web/src/components/Home/SinglePlayer/index.tsx
  packages/web/src/components/Player/Slider/Stats/index.tsx
  packages/web/src/components/PlayerListItemText/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: correctly display combat helper button in rtl locale
  packages/web/src/components/Combat/HelperButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: provide localized files for `en`
  packages/web/scripts/generate-assets.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.6.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: fix version script
  scripts/version.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.6.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: upgrade knip and fix issues
  package.json
  packages/web/src/ducks/monsters/index.ts
  packages/web/src/ducks/monsters/reducer.ts
  packages/web/src/ducks/players/index.ts
  packages/web/src/ducks/players/reducer.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: use scheme safari-web-extension to avoid parcel patching
  .yarn/patches/@parcel-runtime-js-npm-2.12.0-e21acc0f42.patch
  package.json
  packages/cordova/config.xml
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: fix build:www
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: parcel upgrade
  packages/cordova/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

fix: drop custom AppBar background color
  packages/web/src/components/TopAppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/PlayerDialog/useFullScreen.ts
  packages/web/src/components/ScreenDialog/TransitionComponent.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: split .gitignore by workspaces
  .gitignore
  packages/cordova/.gitignore
  packages/site/.gitignore
  packages/web/.gitignore
Due: prettier --cache --ignore-unknown --write

chore: move Jest under web workspace
  .husky/pre-push
  package.json
  packages/web/jest.config.js
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: experiment with madge
  .lintstagedrc.json
  .madgerc
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: specify deps
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: update tsconfgs
  packages/site/tsconfig.json
  tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: update assets script
  packages/web/scripts/generate-assets.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: remove @eslint/compat
  eslint.config.js
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: add delay to get screenshots
  packages/web/playwright.config.ts
  packages/web/tests/screenshots.test.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: update @types/node location
  package.json
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: use delay for `motion` events in Playwright
  packages/web/tests/screenshots.test.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: replace `framer-motion` with `motion`
  packages/web/package.json
  packages/web/src/components/App/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.6.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: fix CI for tag deploy
  .github/workflows/deploy-app.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

15.6.3
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

fix: remove React Router warning related to v7 future upgrade
  packages/cordova/src/cordova.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: *.css)
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: *
  prettier --cache --write: (any of: *.css) or (any of: *.{js,ts,tsx})
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: *.{js,ts,tsx}
