Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*": "prettier --cache --ignore-unknown --write",
  "**/*.css": "stylelint --allow-empty-input --cache --fix",
  "**/*.{js,json,ts,tsx}": "eslint --cache --fix"
}

Fix Husky
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update Husky setup
  .husky/pre-commit
  .husky/pre-push
Due: prettier --cache --ignore-unknown --write

Update prettier setup
  .husky/pre-push
  .lintstagedrc.json
  .prettierignore
  cordova/README.md
  cordova/StatusBar.d.ts
  cordova/google-services.json
  cordova/store.d.ts
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  .nvmrc
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix dev command
  .gitignore
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix global types export
  .eslintignore
  cordova/global.d.ts
  cordova/src/components/CordovaProvider/hideWindowsBackButton.ts
  cordova/src/components/FullVersionProvider/index.tsx
  cordova/src/components/KeyboardProvider/index.tsx
  cordova/src/components/StatusBarProvider/useStatusBar.ts
  global.d.ts
  src/components/SettingsList/RestorePurchasesItem/index.tsx
  src/components/SettingsList/ShareItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Drop custom types
  .eslintignore
  cordova/Keyboard.d.ts
  cordova/StatusBar.d.ts
  cordova/global.d.ts
  cordova/store.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix cordova build commands
  cordova/package.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Move images
  src/images/favicon.png
  src/images/icon-120x120.png
  src/images/icon-152x152.png
  src/images/icon-167x167.png
  src/images/icon-180x180.png
  src/images/icon-192x192.png
  src/images/icon-256x256.png
  src/images/icon-384x384.png
  src/images/icon-512x512.png
  src/images/launch-1136x640.png
  src/images/launch-1242x2208.png
  src/images/launch-1334x750.png
  src/images/launch-2208x1242.png
  src/images/launch-640x1136.png
  src/images/launch-750x1334.png
  src/images/maskable-icon-512x512.png
  src/index.html
  src/manifest.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Add cordova as dev dep
  cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Stylelint ignore artifacts folders
  .stylelintignore
Due: prettier --cache --ignore-unknown --write

Fix builds
  .browserslistrc
  cordova/package.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use types for polyfills
  cordova/package.json
  cordova/src/index.tsx
  cordova/src/polyfills.ts
  cordova/src/scroll.js
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Remove unneeded @ts-ignore
  src/components/Combat/MonsterSlider/index.tsx
  src/components/Combat/PlayerSlider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use reference instead of import
  cordova/global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Extract DragIconButton
  package.json
  src/components/Home/PlayerList/Item/DragIconButton/index.tsx
  src/components/Home/PlayerList/Item/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  babel.config.js
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use TapHandlers
  src/components/Home/PlayerList/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Add memoization to HomePLayerList
  src/components/Home/PlayerList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use PointerSensor for DnD
  .browserslistrc
  cordova/config.xml
  cordova/package.json
  src/components/Home/PlayerList/Item/index.tsx
  src/components/Home/PlayerList/OverlayItem/index.tsx
  src/components/Home/PlayerList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update framer-motion to 10 with PointerEvent handlers
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

yarn dedupe
  yarn.lock
Due: prettier --cache --ignore-unknown --write

Packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Track screen view
  cordova/src/components/ScreenViewProvider/index.tsx
  cordova/src/index.tsx
  src/components/ScreenViewProvider/index.tsx
  src/firebase.ts
  src/index.tsx
  src/utils/useScreenView.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Avoid type cast
  src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.1.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix lint
  cordova/global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.1.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Bump cordova version
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Remove Windows specific hack fo DnD
  src/components/Home/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.1.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Apply light/dark color-scheme
  src/global.css
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix

14.1.3
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Reduce ESLint overrides
  .eslintrc.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use JSON config for Workbox
  package.json
  workbox.config.cjs
  workbox.config.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Move global.d.ts to web workspace
  web/global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix web folder linting
  .eslintignore
Due: prettier --cache --ignore-unknown --write
