Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*": "prettier --cache --ignore-unknown --write",
  "**/*.css": [
    "stylelint --allow-empty-input --cache --fix",
    "prettier --cache --write"
  ],
  "**/*.{js,json,ts,tsx}": [
    "node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix",
    "prettier --cache --write"
  ]
}

15.4.4
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: bump Cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Revert "chore(deps): update nextjs monorepo to v14.2.0 (#92)"
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Revert "chore(deps): update nextjs monorepo to v14.2.0 (#92)" (#97)
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: move parcel into workspaces
  .gitignore
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/scripts/screenshots.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: fix linting
  packages/web/src/components/Combat/PlayerSlider/index.tsx
  packages/web/src/components/Counter/Button/index.tsx
  packages/web/src/components/Counter/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/Player/Slider/SliderItem.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Color.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Dialog.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Popover.tsx
  packages/web/src/components/ScreenDialog/TransitionComponent.tsx
  packages/web/src/components/SexIcon/index.tsx
  packages/web/src/ducks/players/actions.ts
  packages/web/src/store/migrations/themeMode/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: remove old styling
  packages/web/src/global.css
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, prettier --cache --write

chore: rename reducers test files
  packages/web/src/ducks/combat/reducer.spec.ts
  packages/web/src/ducks/monsters/reducer.spec.ts
  packages/web/src/ducks/playerList/reducer.spec.ts
  packages/web/src/ducks/players/reducer.spec.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: add noUncheckedIndexedAccess for future
  tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: replace enum with const
  packages/web/src/utils/types.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: add ios privacy-manifest
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

feat: remove player list on player screen
  packages/web/src/components/Player/List/Item/index.tsx
  packages/web/src/components/Player/List/index.tsx
  packages/web/src/components/Player/Slider/SliderItem.tsx
  packages/web/src/components/Player/Slider/index.tsx
  packages/web/src/components/Player/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  .eslintrc.json
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: @formatjs/intl-locale upgrade
  packages/web/global.d.ts
  packages/web/package.json
  packages/web/src/utils/getLocaleDirection.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: sentry upgrade
  packages/cordova/package.json
  packages/site/instrumentation.ts
  packages/site/next.config.js
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: purchase plugin upgrade
  packages/cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: cordova upgrade
  packages/cordova/config.xml
  packages/cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: yarn.lock
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore: simulate 100% coverage
  packages/web/src/i18n.spec.ts
  packages/web/src/i18n.ts
  packages/web/src/theme/colors/munchkin.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: fix typo
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/AugmentedThemeProvider/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: use next plugin instead of config
  .eslintrc.json
  packages/site/.eslintrc.json
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  .eslintrc.json
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.0.cjs
  .yarnrc.yml
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: regenerate yarn.lock
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore: set defaultSemverRangePrefix
  .yarnrc.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: first step to move to domains
  packages/web/src/components/Player/Slider/SliderItem.tsx
  packages/web/src/components/PlayerDialog/index.tsx
  packages/web/src/components/PlayerListItemText/index.tsx
  packages/web/src/components/SexIcon/index.tsx
  packages/web/src/dev/players.ts
  packages/web/src/domains/player/Player.ts
  packages/web/src/domains/player/Sex.ts
  packages/web/src/domains/player/index.ts
  packages/web/src/domains/player/playerType.ts
  packages/web/src/domains/player/sexType.ts
  packages/web/src/ducks/players/actions.ts
  packages/web/src/ducks/players/reducer.spec.ts
  packages/web/src/ducks/players/reducer.ts
  packages/web/src/store/migrations/colors/index.ts
  packages/web/src/utils/createPlayer.spec.ts
  packages/web/src/utils/createPlayer.ts
  packages/web/src/utils/propTypes.ts
  packages/web/src/utils/toggleSex.spec.ts
  packages/web/src/utils/toggleSex.ts
  packages/web/src/utils/types.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: upgrade deps
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: single ESLint config
  .eslintrc.json
  package.json
  packages/site/.eslintrc.json
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.4.5
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: bump cordova version
  packages/cordova/config.xml
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  .nvmrc
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: recreate yarn.lock
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore: filter BILLING_UNAVAILABLE store error
  packages/cordova/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: screen view animation fix
  packages/web/src/components/RouteScreenDialog/RouteScreenDialog.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: add store debug
  packages/cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.4.6
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: packages upgrade
  .nvmrc
  package.json
  packages/cordova/package.json
  packages/site/components/I18nProvider.tsx
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix
