Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use type AvailableColor
  web/src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use useSearchParams for color picker
  web/src/components/PlayerDialog/ColorPicker/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Small markup update
  web/src/components/PlayerDialog/ColorPicker/Color.tsx
  web/src/components/PlayerDialog/ColorPicker/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

TypeScript ESLint 6
  .eslintrc.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove unused react/sort-default-props
  .eslintrc.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Node.js 20.4.0
  .nvmrc
Due: prettier --cache --ignore-unknown --write

Packages upgrade
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.6.10
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove unneeded prop button from link ListItem
  web/src/components/SettingsList/PrivacyItem/index.tsx
  web/src/components/SettingsList/RateItem/index.tsx
  web/src/components/SettingsList/TranslateItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.6.11
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Bump Cordova version
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Fix settings list issue
  web/src/components/SettingsList/Item/index.tsx
  web/src/components/SettingsList/KeepAwakeItem/index.tsx
  web/src/components/SettingsList/LevelLimitItem/index.tsx
  web/src/components/SettingsList/PrivacyItem/index.tsx
  web/src/components/SettingsList/RateItem/index.tsx
  web/src/components/SettingsList/RestorePurchasesItem/index.tsx
  web/src/components/SettingsList/SettingsListItemButton.tsx
  web/src/components/SettingsList/ShareItem/index.tsx
  web/src/components/SettingsList/SingleModeItem/index.tsx
  web/src/components/SettingsList/ThemeItem/index.tsx
  web/src/components/SettingsList/TranslateItem/index.tsx
  web/src/components/SettingsList/VersionItem/index.tsx
  web/src/components/SettingsList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.6.12
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  .nvmrc
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.6.13
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  .nvmrc
  .yarn/patches/@parcel-runtime-js-npm-2.10.0-6b4cf1576c.patch
  .yarn/patches/@parcel-runtime-js-npm-2.9.3-95e94e0d1e.patch
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarnrc.yml
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Cordova upgrade
  cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

cordova-plugin-purchase 11.0.0 -> 13.8.6
  cordova/global.d.ts
  cordova/package.json
  cordova/readme.md
  cordova/src/components/FullVersionProvider/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix types
  cordova/global.d.ts
  tsconfig.json
  web/global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.7.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  .nvmrc
  .yarn/patches/@parcel-runtime-js-npm-2.10.1-3957858a1b.patch
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.0.0.cjs
  .yarnrc.yml
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Set moduleResolution to bundler
  tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  .nvmrc
  .yarn/releases/yarn-4.0.0.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Move parcel in root
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Update GitHub actions
  .github/workflows/deploy.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Packages upgrade
  package.json
  packages/cordova/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

14.7.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix deploy
  .github/workflows/deploy.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

14.7.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix entryPoint
  .github/workflows/deploy.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

14.7.3
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: any of: **/*.{css,html,tsx}
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: **/*
  stylelint --allow-empty-input --cache --fix: any of: **/*.css
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: **/*.{js,json,ts,tsx}
