Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs}": [
    "eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0"
  ],
  "**/*.{html,md,yml}": [
    "prettier --write"
  ]
}

Migrate TopIconButton to emotion
  src/components/TopIconButton/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Remove unneeded rules from ESLint
  .eslintrc
Due: none

Format languages files
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Use sentry webpack plugin instead of cli
  .travis.yml
  package-lock.json
  package.json
  scripts/version.mjs
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0, prettier --write

12.6.2
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Switch to GitHub Actions
  .github/workflows/deploy.yml
  .travis.yml
Due: prettier --write

12.6.3
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Skip playwright download on deploy
  .github/workflows/deploy.yml
Due: prettier --write

Update actions workflow
  .github/workflows/deploy.yml
Due: prettier --write

configureStore.js -> getStore.js
  src/components/ReduxProvider/index.jsx
  src/store/getStore.js
  src/store/getStore.spec.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Use sentry for web
  src/components/CordovaProvider/index.jsx
  src/sentry.js
  src/web.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Use Redux Toolkit and migrate first duck
  package-lock.json
  package.json
  src/ducks/dice/index.js
  src/ducks/dice/index.spec.js
  src/store/getStore.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Add UI reducer tests
  src/ducks/dice/index.js
  src/ducks/dice/index.spec.js
  src/ducks/ui/index.js
  src/ducks/ui/index.spec.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Migrate UI reducer to Redux Toolkit
  src/ducks/ui/index.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Migrate Theme reducer to Redux Toolkit
  src/ducks/theme/index.js
  src/ducks/theme/index.spec.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Update playerList tests
  src/ducks/playerList/actionTypes.js
  src/ducks/playerList/index.js
  src/ducks/playerList/index.spec.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Use action instead of action types for testing
  src/ducks/combat/index.spec.js
  src/ducks/monsters/actionTypes.js
  src/ducks/monsters/index.js
  src/ducks/monsters/index.spec.js
  src/ducks/players/index.js
  src/ducks/players/index.spec.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Migrate all ducks to Redux Toolkit
  src/ducks/combat/actionTypes.js
  src/ducks/combat/actions.js
  src/ducks/combat/index.js
  src/ducks/combat/index.spec.js
  src/ducks/combat/reducer.js
  src/ducks/monsters/actionTypes.js
  src/ducks/monsters/actions.js
  src/ducks/monsters/index.js
  src/ducks/monsters/index.spec.js
  src/ducks/monsters/reducer.js
  src/ducks/playerList/actionTypes.js
  src/ducks/playerList/actions.js
  src/ducks/playerList/index.js
  src/ducks/playerList/reducer.js
  src/ducks/players/actionTypes.js
  src/ducks/players/actions.js
  src/ducks/players/index.js
  src/ducks/players/reducer.js
  src/ducks/settings/index.js
  src/store/getStore.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Make babel config simplier by partially moving setup in webpack babel loader
  babel.config.js
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Start migration to TypeScript
  .eslintrc
  .github/workflows/deploy.yml
  .lintstagedrc
  babel.config.js
  package-lock.json
  package.json
  src/utils/availableColors.js
  src/utils/availableColors.ts
  src/utils/platforms.ts
  src/utils/propTypes.js
  src/utils/sex.ts
  src/utils/toggleSex.ts
  src/utils/version.ts
  tsconfig.json
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0, prettier --write

Packages upgrade
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Consistent commands
  .lintstagedrc
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

12.6.4
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Fix double sentry init
  src/sentry.ts
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Convert more files to TS
  package-lock.json
  package.json
  src/ducks/ui/index.spec.ts
  src/ducks/ui/index.ts
  src/firebase.ts
  src/utils/createMonster.spec.ts
  src/utils/createMonster.ts
  src/utils/createPlayer.spec.ts
  src/utils/createPlayer.ts
  src/utils/levelLimit.js
  src/utils/levelLimit.ts
  src/utils/propTypes.ts
  src/utils/types.ts
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Remove custom react/prop-types rule setup
  .eslintrc
  .gitignore
  package.json
  src/components/Counter/index.jsx
  src/components/PlayerAvatar/index.jsx
  src/components/PlayerDialog/ColorPicker/Color.jsx
  src/components/ScreenFab/index.jsx
  src/components/Title/index.jsx
  src/components/menu/List/InsomniaItem/index.jsx
  src/components/menu/List/ItemText/index.jsx
  src/components/menu/List/LevelLimitItem/index.jsx
  src/components/menu/List/SingleModeItem/index.jsx
  src/components/menu/List/ThemeItem/index.jsx
  src/routes/Combat/Counter/index.jsx
  src/routes/Combat/HelperButton/index.jsx
  src/routes/Combat/MonsterSlider/index.jsx
  src/routes/Combat/PlayerSlider/index.jsx
  src/routes/Player/Slider/Stats/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Move PlayerAvatar to TS
  src/components/PlayerAvatar/index.tsx
Due: none

Drop muiName
  src/components/Sex/index.jsx
  src/components/menu/List/Item/index.jsx
  src/components/menu/List/ItemText/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Drop className prop for menu items
  src/components/menu/List/InsomniaItem/index.jsx
  src/components/menu/List/LevelLimitItem/index.jsx
  src/components/menu/List/PrivacyItem/index.jsx
  src/components/menu/List/RateItem/index.jsx
  src/components/menu/List/ShareItem/index.jsx
  src/components/menu/List/SingleModeItem/index.jsx
  src/components/menu/List/ThemeItem/index.jsx
  src/components/menu/List/TranslateItem/index.jsx
  src/components/menu/List/VersionItem/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Use MenuTypeProvider instead ThemeProvider for now
  src/components/menu/Drawer/index.jsx
  src/components/menu/List/Item/index.jsx
  src/components/menu/List/index.jsx
  src/components/menu/MenuTypeProvider/index.tsx
  src/components/menu/Sidebar/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Migrate shared actions to TS
  src/ducks/combat/actions.js
  src/ducks/combat/actions.ts
  src/ducks/monsters/actions.js
  src/ducks/monsters/actions.ts
  src/ducks/playerList/actions.js
  src/ducks/playerList/actions.ts
  src/ducks/players/actions.js
  src/ducks/players/actions.ts
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Replace messages with name export
  src/components/menu/List/ThemeItem/index.jsx
  src/components/theme/Dialog/index.jsx
  src/theme/colors/apocalypse.js
  src/theme/colors/booty.js
  src/theme/colors/cthulhu.js
  src/theme/colors/index.js
  src/theme/colors/legends.js
  src/theme/colors/munchkin.js
  src/theme/colors/star.js
  src/theme/colors/super.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Migrate theme colors to TS
  src/theme/colors/apocalypse.ts
  src/theme/colors/booty.ts
  src/theme/colors/cthulhu.ts
  src/theme/colors/index.ts
  src/theme/colors/legends.ts
  src/theme/colors/munchkin.ts
  src/theme/colors/star.ts
  src/theme/colors/super.js
  src/theme/colors/super.ts
  tsconfig.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Migrate all ducks to TS except settings & theme
  src/ducks/combat/index.spec.ts
  src/ducks/combat/index.ts
  src/ducks/combat/reducer.ts
  src/ducks/dice/index.spec.ts
  src/ducks/dice/index.ts
  src/ducks/monsters/actions.ts
  src/ducks/monsters/index.spec.ts
  src/ducks/monsters/index.ts
  src/ducks/monsters/reducer.ts
  src/ducks/playerList/index.spec.ts
  src/ducks/playerList/index.ts
  src/ducks/playerList/reducer.ts
  src/ducks/players/actions.ts
  src/ducks/players/index.spec.ts
  src/ducks/players/index.ts
  src/ducks/players/reducer.ts
  src/theme/getThemeOptions.ts
  src/utils/createPlayer.spec.ts
  src/utils/createPlayer.ts
  src/utils/toggleSex.ts
  src/utils/types.ts
Due: none

Remove old migrations and convert all ducks to TS
  src/components/ReduxProvider/index.jsx
  src/ducks/settings/index.js
  src/ducks/settings/index.ts
  src/ducks/theme/index.spec.ts
  src/ducks/theme/index.ts
  src/store/getStore.js
  src/store/getStore.spec.js
  src/store/index.js
  src/store/migrations/combat/index.js
  src/store/migrations/combat/index.spec.js
  src/store/migrations/combat/state.json
  src/store/migrations/index.js
  src/store/migrations/pureBlack/index.js
  src/store/migrations/pureBlack/index.spec.js
  src/store/migrations/pureBlack/state.json
  src/store/migrations/settings/index.js
  src/store/migrations/settings/index.spec.js
  src/store/migrations/settings/state.json
  src/store/migrations/ui/index.js
  src/store/migrations/ui/index.spec.js
  src/store/migrations/ui/state.json
  src/store/reducers.ts
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Convert store in TS
  global.d.ts
  package-lock.json
  package.json
  src/ducks/settings/index.ts
  src/store/index.ts
  src/store/localStorage.ts
  src/store/migrations/index.ts
  src/store/migrations/themeMode/index.js
  src/store/migrations/themeMode/index.spec.ts
  src/store/migrations/themeMode/index.ts
  src/store/migrations/themeMode/state.json
  src/utils/toggleSex.spec.js
  src/utils/toggleSex.spec.ts
  src/utils/toggleSex.ts
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Migrate <CombatHelperButton /> to emotion
  src/routes/Combat/HelperButton/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Convert all utils to TS
  global.d.ts
  package-lock.json
  package.json
  src/components/CordovaProvider/hideWindowsBackButton.d.ts
  src/components/CordovaProvider/index.tsx
  src/components/CordovaProvider/useNavigationBreadcrumbs.ts
  src/components/CordovaRouter/history.ts
  src/components/CordovaRouter/index.tsx
  src/components/UndoProvider/index.jsx
  src/components/UndoProvider/index.tsx
  src/routes/Combat/HelperButton/index.tsx
  src/store/index.ts
  src/store/localStorage.ts
  src/utils/AsyncResource.ts
  src/utils/getRandomMaterialColor.ts
  src/utils/location.ts
  src/utils/useDeletePlayers.tsx
  src/utils/usePresentSelector.ts
  tsconfig.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0

Convert i18n to TS
  .gitignore
  .stylelintignore
  src/components/dice/Dialog/index.tsx
  src/components/dice/Transition/index.jsx
  src/components/dice/Transition/index.tsx
  src/dev/players.ts
  src/ducks/dice/index.ts
  src/ducks/players/actions.ts
  src/ducks/players/reducer.ts
  src/i18n.spec.ts
  src/i18n.ts
  src/store/index.ts
  src/utils/types.ts
Due: eslint --ext .js,.json,.jsx,.mjs --fix --max-warnings=0
