Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Fix screenshots script
  scripts/screenshots.mjs
  src/components/BackButton/index.tsx
  src/components/SettingsIconButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Upgrade cordova version
  cordova/config.xml
Due: none

13.3.1
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Fix long player name in player list
  src/routes/Home/PlayerList/Item/index.tsx
  src/routes/Home/PlayerList/OverlayItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

13.3.2
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

More sx prop migration
  src/components/Loading/index.tsx
  src/components/Nobody/index.tsx
  src/components/PlayerDialog/ColorPicker/Color.tsx
  src/components/PlayerDialog/ColorPicker/Dialog.tsx
  src/components/PlayerDialog/ColorPicker/index.tsx
  src/components/ScreenFab/index.tsx
  src/components/SettingsDialog/index.tsx
  src/components/SettingsList/InsomniaItem/index.tsx
  src/components/SettingsList/Item/index.tsx
  src/components/SettingsList/ItemText/index.tsx
  src/components/SettingsList/LevelLimitItem/index.tsx
  src/components/SettingsList/PrivacyItem/index.tsx
  src/components/SettingsList/RateItem/index.tsx
  src/components/SettingsList/RestorePurchasesItem/index.tsx
  src/components/SettingsList/ShareItem/index.tsx
  src/components/SettingsList/SingleModeItem/index.tsx
  src/components/SettingsList/ThemeItem/index.tsx
  src/components/SettingsList/TranslateItem/index.tsx
  src/components/SettingsList/VersionItem/index.tsx
  src/components/SettingsList/index.tsx
  src/components/levelLimit/Dialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Update iphone picture size
  scripts/screenshots.mjs
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Fix settings scrolling
  src/components/SettingsList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Fix long press additional count
  src/components/Counter/Button/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Migrate PlayerStats to sx prop
  src/routes/Player/Slider/Stats/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

React 18
  package-lock.json
  package.json
  src/cordova.tsx
  src/web.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Packages upgrade
  cordova/package-lock.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

babel-plugin-react-intl -> babel-plugin-formatjs
  babel.config.json
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Drop @types/copy-webpack-plugin
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

13.3.3
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Packages upgrade
  cordova/package-lock.json
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Use @types/react 17 for react-intl capability until it does not support React 18
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Use explicit locale loaders
  src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

React 18 types
  babel.config.json
  cordova/package-lock.json
  cordova/package.json
  package-lock.json
  package.json
  scripts/smartcat.mjs
  src/components/AugmentedStylesProvider/index.tsx
  src/components/AugmentedThemeProvider/index.tsx
  src/components/CordovaProvider/index.tsx
  src/components/CordovaRouter/index.tsx
  src/components/FullVersionProvider/index.tsx
  src/components/LocaleProvider/index.tsx
  src/components/PlayerDialog/AppBar/index.tsx
  src/components/PlayerDialog/index.tsx
  src/components/ReduxProvider/index.tsx
  src/components/TopAppBar/index.tsx
  src/components/UndoProvider/index.tsx
  src/components/WakeLockProvider/index.tsx
  src/components/WorkboxProvider/index.tsx
  src/routes/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Update store types
  src/components/UndoSnackbar/index.tsx
  src/components/dice/Button/index.tsx
  src/routes/Combat/PlayerSlider/Player/index.tsx
  src/routes/Home/AppBar/ResetButton/index.tsx
  src/routes/Home/SinglePlayer/index.tsx
  src/store/index.ts
  src/store/localStorage.ts
  src/utils/usePresentSelector.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

React-Redux 8
  package-lock.json
  package.json
  src/components/SettingsList/SingleModeItem/index.tsx
  src/routes/Combat/PlayerSlider/Player/index.tsx
  src/routes/Home/AppBar/ResetButton/index.tsx
  src/routes/Home/SinglePlayer/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

More migration to sx prop
  .eslintrc.json
  package-lock.json
  package.json
  src/components/Sex/index.tsx
  src/routes/Combat/MonsterSlider/index.tsx
  src/routes/Combat/PlayerSlider/index.tsx
  src/routes/Combat/index.tsx
  src/routes/Home/SinglePlayer/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Simplify ScreenDialog markup
  src/components/ScreenDialog/index.tsx
  src/components/SettingsDialog/index.tsx
  src/routes/Home/index.tsx
  src/routes/Player/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Reduce amount of global CSS
  src/global.css
Due: stylelint --cache --fix

More space between delete & save icon buttons
  src/components/PlayerDialog/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

useDispatch -> useAppDispatch to have store types
  src/components/FullVersionProvider/index.tsx
  src/components/PlayerDialog/index.tsx
  src/components/UndoSnackbar/index.tsx
  src/components/WakeLockProvider/index.tsx
  src/components/dice/Dialog/index.tsx
  src/components/levelLimit/Dialog/index.tsx
  src/components/theme/Dialog/index.tsx
  src/routes/Combat/AppBar/index.tsx
  src/routes/Combat/HelperButton/index.tsx
  src/routes/Combat/HelperSelector/index.tsx
  src/routes/Combat/MonsterSlider/Monster/index.tsx
  src/routes/Combat/MonsterSlider/index.tsx
  src/routes/Combat/PlayerSlider/index.tsx
  src/routes/Home/AppBar/ShuffleButton/index.tsx
  src/routes/Home/AppBar/index.tsx
  src/routes/Home/PlayerList/Item/index.tsx
  src/routes/Home/PlayerList/index.tsx
  src/routes/Player/AppBar/KillPlayerButton/index.tsx
  src/routes/Player/CombatButton/index.tsx
  src/routes/Player/Slider/Stats/index.tsx
  src/utils/useDeletePlayers.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

FormattedMessage -> intl.formatMessage
  src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Use context theme instead of useTheme hook for player dialog
  src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Refactor SexIcon
  src/components/PlayerListItemText/index.tsx
  src/components/Sex/index.tsx
  src/components/SexIcon/index.tsx
  src/routes/Combat/PlayerSlider/Player/index.tsx
  src/routes/Home/SinglePlayer/index.tsx
  src/routes/Player/Slider/Stats/index.tsx
  src/utils/propTypes.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Update usePresentSelector type
  src/utils/usePresentSelector.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Replace CordovaRouter -> MemoryRouter
  package.json
  src/components/CordovaProvider/index.tsx
  src/components/CordovaRouter/history.ts
  src/components/CordovaRouter/index.tsx
  src/cordova.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Drop unused redux-logger
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: **/*.{css,html,js,ts,tsx})
  prettier --write: (any of: **/*.{md,yml}) or (any of: **/*.{html,md,yml})
  eslint --cache --fix: any of: **/*.{js,json,mjs,ts,tsx}
