Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

Migrate DiceDialog component to sx prop
  src/components/dice/Dialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Remove fetch polyfill
  package-lock.json
  package.json
  src/cordova.tsx
  src/fetch.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Raise ios version to 13
  .browserslistrc
Due: none

Single babel config and migration to babel-plugin-polyfill-corejs3
  .babelrc
  babel.config.json
  package.json
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Packages upgrade
  cordova/package-lock.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Rename lint-staged config
  .lintstagedrc
  lint-staged.config.js
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Stylelint 14 upgrade
  .eslintrc
  .eslintrc.js
  .stylelintrc
  babel.config.js
  babel.config.json
  lint-staged.config.js
  package-lock.json
  package.json
  stylelint.config.js
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Use deepmerge from @mui/utils
  babel.config.js
  package-lock.json
  package.json
  src/components/AugmentedThemeProvider/index.tsx
  src/theme/getThemeOptions.ts
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Migrate UndoSnackbar to sx
  src/components/UndoSnackbar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Imrove deploy
  .github/workflows/deploy.yml
  .gitignore
  tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write

13.2.0
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Set include for TS
  tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

13.2.1
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Add SplashScreen types
  SplashScreen.d.ts
  tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

13.2.2
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Cordova version upgrade
  cordova/config.xml
Due: none

Job emoji
  .github/workflows/deploy.yml
Due: prettier --write

Use tap instead of click to fix click on player list and active another player on player screen
  src/routes/Player/List/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Fix scroll reset on player change on Player view
  src/routes/Player/List/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Move more components to sx prop
  src/components/BackButton/index.tsx
  src/components/PlayerDialog/ColorPicker/Popover.tsx
  src/components/PlayerListItemText/index.tsx
  src/components/ScreenModal/index.tsx
  src/routes/Player/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Type fixing
  src/components/Counter/Label/index.tsx
  src/components/PlayerListItemText/index.tsx
  src/components/Sex/index.tsx
  src/utils/types.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

13.2.3
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

13.2.4
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Packages upgrade
  babel.config.js
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Font preload
  src/cordova.html
  src/web.html
Due: stylelint --cache --fix

Dynamically load cordova
  src/cordova.tsx
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Packages upgrade
  cordova/package-lock.json
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Switch to JSON babel config
  babel.config.js
  babel.config.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Switch to JSON stylelint config
  .stylelintrc.json
  stylelint.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Use GitHub Action for Sentry release
  .github/workflows/deploy.yml
  scripts/version.mjs
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write

13.2.5
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Clean up debug info
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write

Migrate Counter to sx prop
  src/components/Counter/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix
