Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

Migrate Combat CounterButton to sx prop
  src/routes/Combat/Counter/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Migrate MenuListItemText to sx prop
  src/components/menu/List/ItemText/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Fix no-misused-promises
  src/components/theme/Dialog/index.tsx
  src/routes/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

13.2.6
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Revert "Fix no-misused-promises"
  src/components/theme/Dialog/index.tsx
  src/routes/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Temporary disable checksVoidReturn
  .eslintrc.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

13.2.7
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Enable es2022 env in ESLint
  .eslintrc.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Jest rules only for tests
  .eslintrc.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Convert static configs to json files
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.json
  jest.config.js
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

More specific ESLint config
  .eslintrc.json
  scripts/screenshots.mjs
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Remove dialog style override
  src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

Migrate PlayerDialog to sx prop
  src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Migrate MenuListItem to sx prop
  src/components/menu/List/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

MenuListItemText supports sx prop
  src/components/menu/List/ItemText/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Change some icons to outline versions
  src/components/menu/List/PrivacyItem/index.tsx
  src/components/menu/List/RateItem/index.tsx
  src/components/menu/List/ShareItem/index.tsx
  src/components/menu/List/SingleModeItem/index.tsx
  src/components/menu/List/ThemeItem/index.tsx
  src/routes/Combat/HelperButton/index.tsx
  src/routes/Home/AppBar/EditButton/index.tsx
  src/routes/Player/AppBar/KillPlayerButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Simplify ScreenModal
  src/components/ScreenModal/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Revert skull outline
  src/routes/Player/AppBar/KillPlayerButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Migrate from ScreenModal to ScreenDialog
  src/components/App/index.tsx
  src/components/ScreenDialog/TransitionComponent.tsx
  src/components/ScreenDialog/index.tsx
  src/components/ScreenModal/index.tsx
  src/routes/Home/index.tsx
  src/routes/Player/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Migrate Player to sx prop
  src/routes/Player/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Outlined trash can icon
  src/routes/Home/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Migrate TopAppBar to sx prop
  src/components/TopAppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Migrate TopIconButton to sx prop & refactor edge prop usage
  src/components/TopIconButton/index.tsx
  src/routes/Combat/AppBar/index.tsx
  src/routes/Home/AppBar/index.tsx
  src/routes/Player/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Refactor edge prop usage for buttons
  src/routes/Home/AppBar/EditButton/index.tsx
  src/routes/Home/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Fix ref warning
  src/components/ScreenDialog/TransitionComponent.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Update package-lock.json
  package-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix

GitHub actions upgrade
  .github/workflows/deploy.yml
Due: prettier --write

Migrate Home to sx prop
  src/routes/Home/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Add settings button
  languages/cs.json
  languages/da.json
  languages/de.json
  languages/el.json
  languages/en.json
  languages/es.json
  languages/fi.json
  languages/fr.json
  languages/he.json
  languages/hu.json
  languages/hy.json
  languages/it.json
  languages/nb.json
  languages/nl.json
  languages/pl.json
  languages/pt-BR.json
  languages/pt.json
  languages/ru.json
  languages/sk.json
  languages/tr.json
  languages/uk.json
  src/components/App/index.tsx
  src/components/SettingsDialog/index.tsx
  src/components/SettingsIconButton/index.tsx
  src/components/Title/index.tsx
  src/components/menu/List/Item/index.tsx
  src/components/menu/List/SingleModeItem/index.tsx
  src/components/menu/MenuTypeProvider/index.tsx
  src/routes/Home/AppBar/index.tsx
  src/routes/Home/index.tsx
  src/utils/location.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Remove unused menu code
  languages/cs.json
  languages/da.json
  languages/de.json
  languages/el.json
  languages/en.json
  languages/es.json
  languages/fi.json
  languages/fr.json
  languages/he.json
  languages/hu.json
  languages/hy.json
  languages/it.json
  languages/nb.json
  languages/nl.json
  languages/pl.json
  languages/pt-BR.json
  languages/pt.json
  languages/ru.json
  languages/sk.json
  languages/tr.json
  languages/uk.json
  src/components/SettingsDialog/index.tsx
  src/components/menu/Drawer/index.tsx
  src/components/menu/List/Item/index.tsx
  src/components/menu/List/LevelLimitItem/index.tsx
  src/components/menu/List/ShareItem/index.tsx
  src/components/menu/List/SingleModeItem/index.tsx
  src/components/menu/List/ThemeItem/index.tsx
  src/components/menu/List/VersionItem/index.tsx
  src/components/menu/MenuTypeProvider/index.tsx
  src/components/menu/Sidebar/index.tsx
  src/components/menu/useMenuOpen.ts
  src/ducks/ui/index.spec.ts
  src/ducks/ui/index.ts
  src/routes/Home/AppBar/MenuButton/index.tsx
  src/routes/Home/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Add key to shuffle button
  src/routes/Home/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

Buttons reorder
  src/routes/Home/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix

13.3.0
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix
