Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix

Packages upgrade
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

ESLint ignore .yarn
  .eslintignore
Due: prettier --cache --ignore-unknown --write

Use scroll snap instead of framer-motion
  cordova/package.json
  cordova/src/polyfills.ts
  web/package.json
  web/src/components/Combat/MonsterSlider/index.tsx
  web/src/components/Combat/PlayerSlider/index.tsx
  web/src/components/Player/Slider/index.tsx
  web/src/polyfills.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.4.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Bump Cordova version
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

14.4.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Avoid known error capture
  cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.4.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use SWR to fetch locale
  web/package.json
  web/src/components/LocaleProvider/index.tsx
  web/src/components/LocaleProvider/readMessages.ts
  web/src/i18n.ts
  web/src/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  .nvmrc
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use cordova hook to set locales for Windows
  cordova/config.xml
  cordova/readme.md
  cordova/res/windows/CordovaApp.projitems
  cordova/scripts/add-windows-locales.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use defineMessage for single theme translation
  web/src/theme/colors/apocalypse.ts
  web/src/theme/colors/booty.ts
  web/src/theme/colors/cthulhu.ts
  web/src/theme/colors/legends.ts
  web/src/theme/colors/munchkin.ts
  web/src/theme/colors/star.ts
  web/src/theme/colors/super.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Extract getRandomDice
  web/src/ducks/dice/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use useSearchParams for dice throw
  web/src/components/DiceButton/index.tsx
  web/src/components/DiceDialog/index.tsx
  web/src/utils/location.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Optimise diceSlice
  web/src/ducks/dice/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix dice test
  web/src/ducks/dice/index.spec.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Add test for player removal
  web/src/ducks/dice/index.spec.ts
  web/src/ducks/dice/index.ts
  web/src/ducks/playerList/index.spec.ts
  web/src/ducks/playerList/index.ts
  web/src/ducks/playerList/reducer.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use spyOn for `navigator.languages` mock
  web/src/i18n.spec.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Limit PlayerStatsProps params
  web/src/components/Player/Slider/Stats/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update slider array structure
  web/src/components/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Split styling logic
  web/src/components/Player/Slider/Stats/index.tsx
  web/src/components/Player/Slider/index.tsx
  web/src/components/Player/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Reuse useDispatch directly for useAppDispatch instead of new function
  web/src/store/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Extract player SliderItem component
  web/src/components/Player/Slider/SliderItem.tsx
  web/src/components/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use flex properties for slider item styling
  web/src/components/Player/Slider/SliderItem.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Unify type import
  web/src/components/Home/PlayerList/Item/DragIconButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Show player name alongside stats
  web/src/components/Player/AppBar/index.tsx
  web/src/components/Player/Slider/SliderItem.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

A way to polyfill old browsers with core-js
  babel.config.js
  cordova/src/polyfills.ts
  package.json
  web/src/polyfills.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.5.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Nobody component accepts sx prop
  web/src/components/Home/index.tsx
  web/src/components/Nobody/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Correct children prop for TransitionComponent for ScreenDialog
  web/src/components/ScreenDialog/TransitionComponent.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: any of: **/*.{css,html,tsx}
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: **/*
  stylelint --allow-empty-input --cache --fix: any of: **/*.css
  eslint --cache --fix: any of: **/*.{cjs,js,json,ts,tsx}
