Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.{css,html}": "stylelint --allow-empty-input --cache --fix",
  "**/*.{html,md,yml}": "prettier --write",
  "**/*.{js,json,mjs,ts,tsx}": "eslint --cache --fix"
}

Fix PT translation for undo.resetPlayers
  languages/pt.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Simplify Legends theme
  src/theme/colors/legends.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Drop MuiIconButton customization
  src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Move components on top level
  src/components/Home/index.tsx
  src/components/LevelLimitDialog/index.tsx
  src/components/ThemeDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Reorganize files
  src/components/AugmentedThemeProvider/index.tsx
  src/components/Combat/HelperButton/index.tsx
  src/components/Combat/HelperSelector/index.tsx
  src/components/Combat/MonsterSlider/Monster/index.tsx
  src/components/Combat/MonsterSlider/index.tsx
  src/components/Combat/PlayerSlider/Player/index.tsx
  src/components/Combat/index.tsx
  src/components/DiceDialog/index.tsx
  src/components/FullVersionProvider/index.tsx
  src/components/Home/AppBar/EditButton/index.tsx
  src/components/Home/AppBar/ResetButton/index.tsx
  src/components/Home/AppBar/index.tsx
  src/components/Home/PlayerList/Item/index.tsx
  src/components/Home/PlayerList/OverlayItem/index.tsx
  src/components/Home/PlayerList/index.tsx
  src/components/Home/SinglePlayer/index.tsx
  src/components/Home/index.tsx
  src/components/LevelLimitDialog/index.tsx
  src/components/LocaleProvider/index.tsx
  src/components/Player/AppBar/KillPlayerButton/index.tsx
  src/components/Player/AppBar/index.tsx
  src/components/Player/CombatButton/index.tsx
  src/components/Player/List/index.tsx
  src/components/Player/Slider/Stats/index.tsx
  src/components/Player/Slider/index.tsx
  src/components/Player/index.tsx
  src/components/PlayerDialog/index.tsx
  src/components/SettingsList/LevelLimitItem/index.tsx
  src/components/SettingsList/SingleModeItem/index.tsx
  src/components/SettingsList/ThemeItem/index.tsx
  src/components/ThemeDialog/index.tsx
  src/components/WakeLockProvider/index.tsx
  src/hooks/useDeletePlayers.tsx
  src/hooks/useEditMode.ts
  src/hooks/useMultiMode.ts
  src/hooks/usePresentSelector.ts
  src/hooks/usePreviewTheme.ts
  src/messages/levelLimit.ts
  src/messages/theme.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Drop more css usage from @emotion/react
  src/components/Combat/Counter/index.tsx
  src/components/Combat/HelperSelector/index.tsx
  src/components/Combat/MonsterSlider/index.tsx
  src/components/Combat/PlayerSlider/index.tsx
  src/components/Combat/index.tsx
  src/components/Home/PlayerList/Item/index.tsx
  src/components/Home/PlayerList/index.tsx
  src/components/Player/Slider/Stats/index.tsx
  src/components/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Correct type import
  src/components/Combat/PlayerSlider/index.tsx
  src/ducks/settings/index.ts
  src/store/localStorage.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Inline setSingleMode function
  src/components/SettingsList/SingleModeItem/index.tsx
  src/ducks/settings/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Rollback framer-motion due to broken type definitions
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Cordova version bump
  cordova/config.xml
Due: none

13.3.16
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Packages upgrade
  .nvmrc
  babel.config.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Cordova packages upgrade
  cordova/package.json
  package-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Packages upgrade
  .github/workflows/deploy.yml
  .nvmrc
  babel.config.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix

Remove cordova from FullVersionProvider
  src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Packages upgrade
  .nvmrc
  package-lock.json
  package.json
  src/components/PlayerDialog/ColorPicker/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Prettier upgrade
  package-lock.json
  package.json
  src/components/PlayerDialog/index.tsx
  src/i18n.ts
  src/utils/getRandomMaterialColor.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Prettier all files on commit
  .lintstagedrc.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Downgrade framer-motion to 7 to use mouse/touch logic instead of PointerEvent
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

package-lock.json update
  package-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Packages upgrade
  .nvmrc
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

react/jsx-sort-default-props -> react/sort-default-props
  .eslintrc.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

dedupe
  package-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Prettier upgrade
  .nvmrc
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Set package private
  cordova/package.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Unify ignore files
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  cordova/.gitignore
Due: none

Migrate from @types/jest to @jest/globals
  package-lock.json
  package.json
  src/ducks/combat/index.spec.ts
  src/ducks/dice/index.spec.ts
  src/ducks/monsters/index.spec.ts
  src/ducks/playerList/index.spec.ts
  src/ducks/players/index.spec.ts
  src/ducks/theme/index.spec.ts
  src/ducks/ui/index.spec.ts
  src/i18n.spec.ts
  src/store/migrations/themeMode/index.spec.ts
  src/utils/createMonster.spec.ts
  src/utils/createPlayer.spec.ts
  src/utils/toggleSex.spec.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Switch to jest.config.ts
  jest.config.js
  jest.config.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Move CordovaProvider to cordova workspace
  cordova/src/components/CordovaProvider/hideWindowsBackButton.ts
  cordova/src/components/CordovaProvider/index.tsx
  cordova/src/components/CordovaProvider/useNavigationBreadcrumbs.ts
  cordova/src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Move FullVersionProvider to cordova workspace
  cordova/src/components/FullVersionProvider/index.tsx
  cordova/src/index.tsx
  src/components/SettingsList/RestorePurchasesItem/index.tsx
  src/components/SettingsList/SingleModeItem/index.tsx
  src/components/ThemeDialog/index.tsx
  src/utils/fullVersionContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Try store.d.ts
  store.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Try to split global types
  cordova/global.d.ts
  global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Stylelint 15 upgrade
  .stylelintrc.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix
