Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: use globalThis instead of window
  eslint.config.js
  packages/cordova/global.d.ts
  packages/cordova/src/components/AppStoreLinkProvider/index.tsx
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/cordova/src/components/VersionProvider/index.tsx
  packages/cordova/src/components/WakeLockProvider/index.tsx
  packages/cordova/src/domains/cordova-app/Insets.tsx
  packages/cordova/src/domains/cordova-app/Keyboard.tsx
  packages/cordova/src/domains/cordova-app/useExitApp.ts
  packages/cordova/src/domains/cordova-app/useHeaderColor.ts
  packages/cordova/src/domains/cordova-app/useKeyboardStyle.ts
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
  packages/cordova/src/sentry.ts
  packages/web/global.d.ts
  packages/web/src/components/Counter/Button/index.tsx
  packages/web/src/components/Player/Slider/index.tsx
  packages/web/src/components/WorkboxProvider/index.tsx
  packages/web/src/dev/index.ts
  packages/web/src/store/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

feat: hide paid options if no billing is available
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/components/SettingsList/ThemeItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

16.1.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: packages upgrade
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: deploy from pwa workspace
  .github/workflows/deploy-pwa.yml
  packages/pwa/.babelrc.json
  packages/pwa/.browserslistrc
  packages/pwa/.firebaserc
  packages/pwa/firebase.json
  packages/pwa/package.json
  packages/pwa/tsconfig.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write

16.1.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: move deploy stuff to pwa
  .github/workflows/deploy-pwa.yml
  crowdin.yml
  packages/pwa/package.json
  packages/pwa/playwright.config.ts
  packages/pwa/scripts/build-assets.js
  packages/pwa/src/images/favicon.png
  packages/pwa/src/images/icon-180x180.png
  packages/pwa/src/images/icon-192x192.png
  packages/pwa/src/images/icon-512x512.png
  packages/pwa/src/images/launch-1136x640.png
  packages/pwa/src/images/launch-1242x2208.png
  packages/pwa/src/images/launch-1334x750.png
  packages/pwa/src/images/launch-2208x1242.png
  packages/pwa/src/images/launch-640x1136.png
  packages/pwa/src/images/launch-750x1334.png
  packages/pwa/src/images/maskable-icon-512x512.png
  packages/pwa/src/index.html
  packages/pwa/src/manifest.webmanifest
  packages/pwa/src/templates/data/en.json
  packages/pwa/src/templates/data/ru.json
  packages/pwa/src/templates/markup/index.html.hbs
  packages/pwa/src/templates/markup/manifest.webmanifest.hbs
  packages/pwa/tests/screenshots.test.ts
  packages/web/.browserslistrc
  packages/web/.firebaserc
  packages/web/firebase.json
  packages/web/global.d.ts
  packages/web/package.json
  packages/web/src/manifest.webmanifest
  packages/web/workbox.config.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore(l10n): new translations en.json (Russian)
  packages/pwa/src/templates/data/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  crowdin.yml
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write

chore: put .browserslist back for linting
  packages/web/.browserslistrc
Due: prettier --cache --ignore-unknown --write

chore: use `flat` instead of `instanceof Array`
  packages/web/src/components/Combat/Counter/index.tsx
  packages/web/src/components/Combat/MonsterSlider/index.tsx
  packages/web/src/components/Combat/PlayerSlider/index.tsx
  packages/web/src/components/Counter/Label/index.tsx
  packages/web/src/components/Counter/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/Nobody/index.tsx
  packages/web/src/components/Player/Slider/SliderItem.tsx
  packages/web/src/components/Player/Slider/Stats/index.tsx
  packages/web/src/components/Player/Slider/index.tsx
  packages/web/src/components/PlayerAvatar/index.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Color.tsx
  packages/web/src/components/ScreenFab/index.tsx
  packages/web/src/components/SettingsList/ItemText/index.tsx
  packages/web/src/components/Title/index.tsx
  packages/web/src/components/TopIconButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: use react-intl locale file format
  packages/web/l10n/en.json
  packages/web/package.json
  packages/web/src/components/DiceButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore(l10n): new translations en.json (French)
  packages/web/l10n/fr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Belarusian)
  packages/web/l10n/be.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Spanish)
  packages/web/l10n/es.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Czech)
  packages/web/l10n/cs.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Danish)
  packages/web/l10n/da.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (German)
  packages/web/l10n/de.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Greek)
  packages/web/l10n/el.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Finnish)
  packages/web/l10n/fi.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hebrew)
  packages/web/l10n/he.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hungarian)
  packages/web/l10n/hu.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Armenian)
  packages/web/l10n/hy.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Italian)
  packages/web/l10n/it.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Dutch)
  packages/web/l10n/nl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Polish)
  packages/web/l10n/pl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese)
  packages/web/l10n/pt.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Russian)
  packages/web/l10n/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Slovak)
  packages/web/l10n/sk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Turkish)
  packages/web/l10n/tr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Ukrainian)
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese, Brazilian)
  packages/web/l10n/pt-BR.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Norwegian Bokmal)
  packages/web/l10n/nb.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: use type `react_intl` for translations
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: use type `json` for translations output
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: *.css)
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: *
  prettier --cache --write: (any of: *.css) or (any of: *.{js,ts,tsx})
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: *.{js,ts,tsx}
  madge --circular: any of: *.{js,ts,tsx}
