Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix

Fix babel transpile setup for workspaces
  babel.config.json
  cordova/.babelrc.json
  cordova/package.json
  web/.babelrc.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Correct workspaces names
  .github/workflows/deploy.yml
  cordova/package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update ESLint import plugin setup
  .eslintrc.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use workspace name for import
  .eslintrc.json
  cordova/package.json
  cordova/src/components/CordovaProvider/index.tsx
  cordova/src/components/FullVersionProvider/index.tsx
  cordova/src/components/KeyboardProvider/index.tsx
  cordova/src/components/ScreenViewProvider/index.tsx
  cordova/src/components/WakeLockProvider/index.tsx
  cordova/src/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Drop unused class
  web/src/utils/AsyncResource.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix parcel HMR issue
  web/package.json
  web/readme.md
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

README -> readme
  cordova/readme.md
  readme.md
Due: prettier --write, prettier --cache --ignore-unknown --write

Simplify conditions related to wake lock
  cordova/src/components/WakeLockProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Separeate sentry setup for cordova
  cordova/global.d.ts
  cordova/src/cordova.tsx
  cordova/src/index.html
  cordova/src/index.ts
  cordova/src/index.tsx
  cordova/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Add app language select in system settings for Android 13
  cordova/config.xml
  cordova/res/android/xml/locales_config.xml
Due: prettier --cache --ignore-unknown --write

Setup Sentry offline cache
  cordova/src/sentry.ts
  web/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.2.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Bump cordova version
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Avoid cordova setup issues
  cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Revert "Add app language select in system settings for Android 13"
  cordova/config.xml
  cordova/res/android/xml/locales_config.xml
Due: prettier --cache --ignore-unknown --write

Add color-scheme in HTML
  cordova/src/index.html
  web/src/index.html
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

Rename InsomniaItem -> KeepAwakeItem
  web/src/components/SettingsList/KeepAwakeItem/index.tsx
  web/src/components/SettingsList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Implement AppStoreLinkContext
  cordova/src/components/AppStoreLinkProvider/index.tsx
  cordova/src/cordova.tsx
  web/src/components/SettingsList/RateItem/index.tsx
  web/src/utils/appStoreLinkContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Ignore local .env files only
  .gitignore
Due: prettier --cache --ignore-unknown --write

Extract restorePurchases function
  cordova/src/components/FullVersionProvider/index.tsx
  web/src/components/SettingsList/RestorePurchasesItem/index.tsx
  web/src/utils/fullVersionContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Remove cordova from PrivacyItem
  web/src/components/SettingsList/PrivacyItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Avoid cordova check for share link
  web/src/components/SettingsList/ShareItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Disable type check for tests
  jest.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use Parcel core-js handling
  cordova/.babelrc.json
  cordova/src/cordova.tsx
  cordova/src/index.ts
  cordova/src/polyfills.ts
  package.json
  web/.babelrc.js
  web/src/index.tsx
  web/src/polyfills.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use relative import instead of workspace alias
  cordova/src/components/AppStoreLinkProvider/index.tsx
  cordova/src/components/CordovaProvider/index.tsx
  cordova/src/components/FullVersionProvider/index.tsx
  cordova/src/components/KeyboardProvider/index.tsx
  cordova/src/components/ScreenViewProvider/index.tsx
  cordova/src/components/WakeLockProvider/index.tsx
  cordova/src/cordova.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix react-refresh
  babel.config.js
  babel.config.json
  cordova/.babelrc.json
  cordova/package.json
  package.json
  readme.md
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

Drop @emotion/eslint-plugin
  .eslintrc.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Prettify plugins array
  babel.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  cordova/package.json
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use VersionProvider to display app version
  cordova/src/components/VersionProvider/index.tsx
  cordova/src/cordova.tsx
  web/src/components/SettingsList/VersionItem/index.tsx
  web/src/components/VersionProvider/index.tsx
  web/src/index.tsx
  web/src/sentry.ts
  web/src/utils/version.ts
  web/src/utils/versionContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Drop woff font format
  cordova/src/index.html
  web/src/fonts/munchkin.woff
  web/src/global.css
  web/src/index.html
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix

Packages upgrade
  cordova/package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.2.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Correct cordova build www commands
  cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  .nvmrc
  package.json
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use RewriteFrames for cordova
  .github/workflows/deploy.yml
  cordova/.browserslistrc
  cordova/package.json
  cordova/src/sentry.ts
  web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.2.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: any of: **/*.{css,html,tsx}
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: **/*
  stylelint --allow-empty-input --cache --fix: any of: **/*.css
  eslint --cache --fix: any of: **/*.{cjs,js,json,ts,tsx}
