Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*": "prettier --cache --ignore-unknown --write",
  "**/*.css": "stylelint --allow-empty-input --cache --fix",
  "**/*.{js,json,ts,tsx}": "node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix"
}

15.0.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Reuse build task
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix reload to 404 after migration to hash router
  packages/web/src/components/WorkboxProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.0.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Update theme color change logic
  packages/web/src/components/ThemeColorProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Redux upgrade
  packages/web/package.json
  packages/web/src/store/index.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Correct Undo Snackbar position
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Transparent top app bar
  packages/cordova/config.xml
  packages/cordova/src/components/StatusBarProvider/index.tsx
  packages/cordova/src/components/StatusBarProvider/useStatusBar.ts
  packages/web/src/components/ThemeColorProvider/index.tsx
  packages/web/src/components/TopAppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Remove unneeded fragment
  packages/cordova/src/components/CordovaProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix Sonar random number issue
  packages/web/src/ducks/dice/index.spec.ts
  packages/web/src/ducks/dice/index.ts
  packages/web/src/utils/getRandomInt.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Replace Math.random with crypto function for color selection
  packages/web/src/utils/getRandomMaterialColor.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Replace Math.random with crypto function for players shuffling
  packages/web/src/ducks/playerList/index.spec.ts
  packages/web/src/ducks/playerList/reducer.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use useRef instead of useState for persistent value
  packages/cordova/src/components/CordovaProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Prefer optional chaining for window.Keyboard
  packages/cordova/global.d.ts
  packages/cordova/src/components/KeyboardProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use swr for fetching
  packages/cordova/package.json
  packages/cordova/src/components/ScreenViewProvider/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Setup eslint-plugin-compat
  .browserslistrc
  .eslintrc.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Automatic per-app language preferences
  packages/cordova/config.xml
  packages/cordova/readme.md
  packages/cordova/res/android/build-extras.gradle
  packages/cordova/res/android/resources.properties
  packages/cordova/scripts/copy-gradle-extras.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use header color again
  packages/cordova/config.xml
  packages/cordova/global.d.ts
  packages/cordova/src/components/HeaderColorProvider/index.tsx
  packages/cordova/src/cordova.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix site build
  packages/site/components/StoreButton.tsx
  packages/site/next.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.1.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Bump Cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Apply header color only on android
  packages/cordova/src/components/HeaderColorProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use CSS vars theme
  packages/site/app/[language]/layout.tsx
  packages/site/app/privacy/layout.tsx
  packages/site/components/PrivacyPolicy.tsx
  packages/site/components/ThemeRegistry.tsx
  packages/site/lib/theme.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use primary color for Status and Header bar
  packages/cordova/src/components/StatusBarProvider/index.tsx
  packages/web/src/components/ThemeColorProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.1.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix site build
  packages/site/components/PrivacyPolicy.tsx
  packages/site/components/ThemeRegistry.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Drop cordova-plugin-web-share
  packages/cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Use leates ANDROID_FIREBASE_BOM_VERSION
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Update translations
  languages/da.json
  languages/de.json
  languages/el.json
  languages/en.json
  languages/fi.json
  languages/he.json
  languages/hu.json
  languages/nb.json
  languages/nl.json
  languages/sk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Packages upgrade
  package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Mark paid functions
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

Fix Sonar lint notice
  packages/web/src/components/ThemeDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix
