Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: provide correct palette color
  packages/web/src/components/AugmentedThemeProvider/ModeSwitcher.tsx
  packages/web/src/components/AugmentedThemeProvider/index.tsx
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: fix theme color in PWA
  packages/web/src/domains/theme/useThemeColor.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: fix status bar color
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
  packages/web/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(cordova): use globalThis.cordova
  packages/cordova/global.d.ts
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/cordova/src/domains/cordova-app/CordovaApp.tsx
  packages/cordova/src/domains/cordova-app/Insets.tsx
  packages/cordova/src/domains/cordova-app/Keyboard.tsx
  packages/cordova/src/domains/cordova-app/useHeaderColor.ts
  packages/cordova/src/domains/cordova-app/useKeyboardStyle.ts
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cordova): use built-in statusbar functionality on Android
  packages/cordova/global.d.ts
  packages/cordova/package.json
  packages/cordova/src/cordova.tsx
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(cordova): upgrade cordova-android to v15
  packages/cordova/config.xml
  packages/cordova/package.json
  packages/cordova/res/android/values-night/colors.xml
  packages/cordova/src/domains/cordova-app/Insets.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(web): add reference for parcel-env in global.d.ts
  packages/web/global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update global types
  packages/cordova/global.d.ts
  packages/pwa/global.d.ts
  packages/pwa/tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  knip.json
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: upgrade MUI to v9.0.0
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(windows): fix Windows build
  packages/windows/Munchkin/Munchkin (Package)/Munchkin (Package).wapproj
  packages/windows/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.1.8
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: downgrade ESLint to v9
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: remove workspace linking
  packages/cordova/package.json
  packages/pwa/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: manage colors
  knip.json
  packages/cordova/config.xml
  packages/cordova/global.d.ts
  packages/cordova/package.json
  packages/cordova/src/cordova.tsx
  packages/cordova/src/domains/cordova-app/Insets.tsx
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.1.9
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.1.10
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: update viewport for Windows screenshots
  packages/pwa/playwright.config.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(windows): bump windows version
  packages/windows/Munchkin/Munchkin (Package)/Package.appxmanifest
Due: prettier --cache --ignore-unknown --write

chore: add clean task
  package.json
  packages/pwa/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add html-eslint plugin
  eslint.config.js
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(babel): bump core-js version to 3.49
  packages/babel-preset-web/index.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(cordova): remove optional chaining for splashscreen hide method
  packages/cordova/src/domains/cordova-app/useHideSplashScreen.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(cordova): remove keyboard size managing for Android
  packages/cordova/global.d.ts
  packages/cordova/src/domains/cordova-app/CordovaApp.tsx
  packages/cordova/src/domains/cordova-app/Keyboard.tsx
  packages/cordova/src/domains/cordova-app/useKeyboardStyle.ts
  packages/web/src/components/PlayerDialog/index.tsx
  packages/web/src/global.css
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: replace stylis-plugin-rtl with @mui/stylis-plugin-rtl
  packages/site/domains/theme/ThemeRegistry.tsx
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/AugmentedStylesProvider/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: remove @html-eslint/parser
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(web): enable CSS vars for theme object
  packages/web/global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(web): compact sortable logic
  packages/web/src/components/Home/PlayerList/PlayerListDndContext.tsx
  packages/web/src/components/Home/PlayerList/PlayerSortableList.tsx
  packages/web/src/components/Home/PlayerList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(web): reuse `DragIconButton` in overlay
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/Home/PlayerList/OverlayItem/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add package rules for ESLint version constraints
  renovate.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(web): remove TypeScript error suppression for MUI theme
  packages/web/src/components/AugmentedThemeProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(web): disable initial appearence/animation on page reload
  packages/web/src/components/App/index.tsx
  packages/web/src/components/Combat/HelperSelector/index.tsx
  packages/web/src/components/DiceDialog/index.tsx
  packages/web/src/components/HomeView/index.tsx
  packages/web/src/components/LevelLimitDialog/index.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Dialog.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Popover.tsx
  packages/web/src/components/PlayerDialog/index.tsx
  packages/web/src/components/ScreenModal/ScreenModal.tsx
  packages/web/src/components/ScreenModal/ScreenModalTransition.tsx
  packages/web/src/components/ThemeDialog/index.tsx
  packages/web/src/components/ThemeSchemeDialog/index.tsx
  packages/web/src/domains/ui/RouteDialog.tsx
  packages/web/src/domains/ui/index.ts
  packages/web/src/domains/ui/useInitialAppear.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(web): refactor ScreenDialog to use Modal
  packages/web/src/components/CombatView/index.tsx
  packages/web/src/components/HomeView/index.tsx
  packages/web/src/components/PlayerView/index.tsx
  packages/web/src/components/RouteScreenDialog/index.ts
  packages/web/src/components/RouteScreenModal/RouteScreenModal.tsx
  packages/web/src/components/RouteScreenModal/index.ts
  packages/web/src/components/ScreenDialog/ScreenDialogPaper.tsx
  packages/web/src/components/ScreenDialog/index.tsx
  packages/web/src/components/ScreenModal/ScreenModal.tsx
  packages/web/src/components/ScreenModal/ScreenModalTransition.tsx
  packages/web/src/components/ScreenModal/index.tsx
  packages/web/src/components/SettingsDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(web): move Route Modal to ui domain
  packages/web/src/components/HomeView/index.tsx
  packages/web/src/components/RouteScreenModal/RouteScreenModal.tsx
  packages/web/src/components/ScreenModal/ScreenModal.tsx
  packages/web/src/components/ScreenModal/ScreenModalTransition.tsx
  packages/web/src/components/ScreenModal/index.tsx
  packages/web/src/domains/ui/RouteModal.tsx
  packages/web/src/domains/ui/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .nvmrc
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  tsconfig.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: fix Sonar issues
  packages/site/domains/i18n/getServerIntl.ts
  packages/web/src/components/App/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: *.css)
  prettier --write: any of: **/*.{md,yml}
  eslint --cache --fix: any of: *.{js,json,ts,tsx}
  prettier --cache --ignore-unknown --write: any of: *
