Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.{css,html,js,ts,tsx}": "stylelint --cache --fix",
  "**/*.{html,md,yml}": "prettier --write",
  "**/*.{js,json,mjs,ts,tsx}": "eslint --cache --fix"
}

Add jest-environment-jsdom fro Jest 28
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Use enum for Sex
  src/components/PlayerDialog/index.tsx
  src/ducks/players/index.spec.ts
  src/utils/sex.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Fix player list item paddings for notch
  src/components/Player/List/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Use shallow equal to detect player changes
  src/components/PlayerDialog/index.tsx
  src/utils/shallowEqual.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Use form attribute for submit
  src/components/PlayerDialog/AppBar/index.tsx
  src/components/PlayerDialog/formId.ts
  src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Move remove button to action buttons at the bottom of the dialog
  languages/cs.json
  languages/da.json
  languages/de.json
  languages/el.json
  languages/en.json
  languages/es.json
  languages/fi.json
  languages/fr.json
  languages/he.json
  languages/hu.json
  languages/hy.json
  languages/it.json
  languages/nb.json
  languages/nl.json
  languages/pl.json
  languages/pt-BR.json
  languages/pt.json
  languages/ru.json
  languages/sk.json
  languages/tr.json
  languages/uk.json
  src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Align player list paddings
  src/components/Player/List/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Use PropsWithChildren<unknown> props for providers
  src/components/AugmentedStylesProvider/index.tsx
  src/components/AugmentedThemeProvider/index.tsx
  src/components/CordovaProvider/index.tsx
  src/components/FullVersionProvider/index.tsx
  src/components/LocaleProvider/index.tsx
  src/components/ReduxProvider/index.tsx
  src/components/TopAppBar/index.tsx
  src/components/UndoProvider/index.tsx
  src/components/WakeLockProvider/index.tsx
  src/components/WorkboxProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Packages upgrade
  cordova/package-lock.json
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Node.js 18
  .nvmrc
  cordova/package-lock.json
  package-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Compile translations to reduce bundle size
  .github/workflows/deploy.yml
  .gitignore
  languages/pt.json
  languages/uk.json
  package.json
  src/i18n.ts
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix

13.3.4
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Apply Stylelint only for css & html files, exclude js & ts
  .lintstagedrc.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Suppress sx prop ESLint error
  src/components/Combat/PlayerSlider/index.tsx
  src/components/Counter/Label/index.tsx
  src/components/PlayerDialog/ColorPicker/Color.tsx
  src/components/SettingsList/Item/index.tsx
  src/components/SettingsList/ItemText/index.tsx
  src/components/Title/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

13.3.5
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Use level limit 1-10 by default
  src/ducks/settings/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

13.3.6
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Track locale issues on production
  src/components/LocaleProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

13.3.7
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Cordova version bump
  cordova/config.xml
Due: none

Use suspense to fetch initial locale messages
  src/components/LocaleProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Add SupportedLocale type
  src/ducks/settings/index.ts
  src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Packages upgrade
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Rename task stats -> analyze
  package.json
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Polyfill Intl
  package-lock.json
  package.json
  src/components/LocaleProvider/index.tsx
  src/components/LocaleProvider/polyfillIntl.ts
  src/i18n.ts
  src/web.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

inline-source-map -> source-map for Cordova
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

13.3.8
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Polyfill Intl.DateTimeFormat
  package-lock.json
  package.json
  src/components/LocaleProvider/polyfillIntl.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

13.3.9
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Packages upgrade
  cordova/package-lock.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

@dnd-kit upgrade
  package-lock.json
  package.json
  src/components/Home/PlayerList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Use workspaces
  cordova/package-lock.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Using workspace allows all node_modules on top level. No need to store global cordova interfaces anymore in separate file
  SplashScreen.d.ts
  StatusBar.d.ts
  global.d.ts
  store.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Migrate mo styling to sx prop
  src/components/Combat/Counter/index.tsx
  src/components/Combat/HelperButton/index.tsx
  src/components/Combat/MonsterSlider/Monster/index.tsx
  src/components/Combat/MonsterSlider/index.tsx
  src/components/Combat/PlayerSlider/Player/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Packages upgrade
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix
