Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.{css,html}": "stylelint --cache --fix",
  "**/*.{html,md,yml}": "prettier --write",
  "**/*.{js,json,mjs,ts,tsx}": "eslint --cache --fix"
}

13.3.10
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Node.js 18.2.0
  .nvmrc
  cordova/config.xml
  package-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

13.3.11
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Fix failing tsc on pipeline
  SplashScreen.d.ts
  StatusBar.d.ts
  global.d.ts
  store.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Cordova version bump
  cordova/config.xml
Due: none

13.3.12
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Revert cordova-plugin-firebasex upgrade
  cordova/package.json
  package-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Packages upgrade
  .nvmrc
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Split builds
  .lintstagedrc.json
  cordova/package.json
  cordova/src/cordova.html
  cordova/src/cordova.tsx
  cordova/webpack.config.js
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix

Quick fix full screen player dialog background
  src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Splitting processes
  .github/workflows/deploy.yml
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix

Fix shelljs issue
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Fix type in script command
  cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Remove cordova from package.json
  cordova/package.json
  package-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Add cordova package lock file to ignore for windows workaround
  cordova/.gitignore
Due: none

useSelector -> useAppSelector
  src/components/UndoSnackbar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Replace dice transition with Zoom component
  src/components/dice/Dialog/index.tsx
  src/components/dice/Transition/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Move dice components to components folder
  src/components/App/index.tsx
  src/components/Combat/AppBar/index.tsx
  src/components/DiceButton/index.tsx
  src/components/DiceDialog/index.tsx
  src/components/Home/AppBar/index.tsx
  src/components/Player/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Avoid ESLint error for sx prop
  src/components/Combat/PlayerSlider/index.tsx
  src/components/Counter/Label/index.tsx
  src/components/PlayerDialog/ColorPicker/Color.tsx
  src/components/SettingsList/Item/index.tsx
  src/components/SettingsList/ItemText/index.tsx
  src/components/Title/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Use startTransition for locale loading
  src/components/LocaleProvider/index.tsx
  src/components/LocaleProvider/readMessages.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Move Sentry init as early as possible
  cordova/src/cordova.tsx
  src/components/CordovaProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

13.3.13
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Use LazyMotion
  src/components/App/index.tsx
  src/components/Combat/MonsterSlider/index.tsx
  src/components/Combat/PlayerSlider/index.tsx
  src/components/Counter/Button/index.tsx
  src/components/Home/PlayerList/Item/index.tsx
  src/components/Player/List/Item/index.tsx
  src/components/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Move to Box and sx
  src/components/Combat/MonsterSlider/index.tsx
  src/components/Counter/index.tsx
  src/components/Home/SinglePlayer/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

VFC -> FC
  src/components/Home/AppBar/EditButton/index.tsx
  src/components/Home/AppBar/index.tsx
  src/components/Player/AppBar/KillPlayerButton/index.tsx
  src/components/Player/AppBar/index.tsx
  src/components/Player/CombatButton/index.tsx
  src/components/PlayerListItemText/index.tsx
  src/components/SettingsIconButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

13.3.14
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Single entry point for webpack
  global.d.ts
  scripts/screenshots.mjs
  src/dev/index.js
  src/dev/index.ts
  src/dev/players.ts
  src/i18n.ts
  src/web.tsx
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Remove unknown for PropsWithChildren
  src/components/AugmentedStylesProvider/index.tsx
  src/components/AugmentedThemeProvider/index.tsx
  src/components/CordovaProvider/index.tsx
  src/components/FullVersionProvider/index.tsx
  src/components/LocaleProvider/index.tsx
  src/components/ReduxProvider/index.tsx
  src/components/TopAppBar/index.tsx
  src/components/UndoProvider/index.tsx
  src/components/WakeLockProvider/index.tsx
  src/components/WorkboxProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Rename files to index
  cordova/src/index.html
  cordova/src/index.tsx
  cordova/webpack.config.js
  src/index.html
  src/index.tsx
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix

13.3.15
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

Packages upgrade
  babel.config.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

MUI upgrade
  package-lock.json
  package.json
  src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix

<Counter /> uses sx prop
  src/components/Counter/index.tsx
  src/components/Home/SinglePlayer/index.tsx
  src/components/PlayerDialog/ColorPicker/Color.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Update combat speed dial design
  src/components/Combat/HelperButton/index.tsx
  src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix

Unify dynamic import return result for esm & cjs
  src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix
