Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*": "prettier --cache --ignore-unknown --write",
  "*.css": ["stylelint --cache --fix", "prettier --cache --write"],
  "*.{js,ts,tsx}": [
    "node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix",
    "madge --circular",
    "prettier --cache --write"
  ]
}

chore(l10n): new translations en.json (Norwegian Bokmal)
  packages/web/l10n/nb.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new Crowdin updates (#270)
  packages/web/l10n/be.json
  packages/web/l10n/cs.json
  packages/web/l10n/da.json
  packages/web/l10n/de.json
  packages/web/l10n/el.json
  packages/web/l10n/es.json
  packages/web/l10n/fi.json
  packages/web/l10n/fr.json
  packages/web/l10n/he.json
  packages/web/l10n/hu.json
  packages/web/l10n/hy.json
  packages/web/l10n/it.json
  packages/web/l10n/nb.json
  packages/web/l10n/nl.json
  packages/web/l10n/pl.json
  packages/web/l10n/pt-BR.json
  packages/web/l10n/pt.json
  packages/web/l10n/ru.json
  packages/web/l10n/sk.json
  packages/web/l10n/tr.json
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: try default `url_prefix` for sourcemaps
  .github/workflows/deploy-pwa.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

16.1.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: recreate yarn.lock
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore: update firebase for deployment target 14.0
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

feat: raise iOS deployment target to 15.4
  packages/cordova/.browserslistrc
  packages/cordova/config.xml
  packages/cordova/package.json
  packages/cordova/src/polyfills.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: drop AbortController polyfill
  packages/cordova/package.json
  packages/cordova/src/polyfills.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: create i18n domain
  packages/pwa/tests/screenshots.test.ts
  packages/web/src/components/Counter/Label/index.tsx
  packages/web/src/components/LocaleProvider/index.tsx
  packages/web/src/dev/index.ts
  packages/web/src/dev/players.ts
  packages/web/src/domains/i18n/getBrowserLocale.spec.ts
  packages/web/src/domains/i18n/getBrowserLocale.ts
  packages/web/src/domains/i18n/index.ts
  packages/web/src/domains/i18n/loadMessages.ts
  packages/web/src/domains/i18n/polyfillIntl.ts
  packages/web/src/domains/i18n/supportedLocales.ts
  packages/web/src/ducks/settings/index.ts
  packages/web/src/i18n.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: refactor locale handling to support async operations
  packages/web/global.d.ts
  packages/web/src/components/LocaleProvider/index.tsx
  packages/web/src/dev/index.ts
  packages/web/src/domains/i18n/getBrowserLocale.spec.ts
  packages/web/src/domains/i18n/getBrowserLocale.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: update shallowEqual to use `Object.hasOwn`
  eslint.config.js
  packages/site/.browserslistrc
  packages/web/.browserslistrc
  packages/web/src/utils/shallowEqual.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  packages/babel-preset-web/index.js
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: use autogenerated ids for a player form
  packages/web/src/components/PlayerDialog/ColorPicker/Dialog.tsx
  packages/web/src/components/PlayerDialog/PlayerForm.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: forgot to extract locales
  packages/web/l10n/en.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (French)
  packages/web/l10n/fr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Spanish)
  packages/web/l10n/es.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Belarusian)
  packages/web/l10n/be.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Czech)
  packages/web/l10n/cs.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Danish)
  packages/web/l10n/da.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (German)
  packages/web/l10n/de.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Greek)
  packages/web/l10n/el.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Finnish)
  packages/web/l10n/fi.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hebrew)
  packages/web/l10n/he.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hungarian)
  packages/web/l10n/hu.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Armenian)
  packages/web/l10n/hy.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Italian)
  packages/web/l10n/it.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Dutch)
  packages/web/l10n/nl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Polish)
  packages/web/l10n/pl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese)
  packages/web/l10n/pt.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Russian)
  packages/web/l10n/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Slovak)
  packages/web/l10n/sk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Turkish)
  packages/web/l10n/tr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Ukrainian)
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese, Brazilian)
  packages/web/l10n/pt-BR.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write
