Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore(site): add rtl initial support
  knip.json
  packages/site/components/StylisProvider.tsx
  packages/site/components/ThemeRegistry.tsx
  packages/site/next.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: update ESLint import plugin setup
  eslint.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: update Windows Store link
  packages/site/components/HomePage.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  eslint.config.js
  knip.json
  package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: switch to Yarn global cache
  .yarnrc.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: utilize --no-cache
  packages/cordova/package.json
  packages/web/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: remove deprecated prop-types
  eslint.config.js
  packages/cordova/package.json
  packages/cordova/src/components/CordovaProvider/index.tsx
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/cordova/src/components/WakeLockProvider/index.tsx
  packages/web/package.json
  packages/web/src/components/AugmentedStylesProvider/index.tsx
  packages/web/src/components/AugmentedThemeProvider/index.tsx
  packages/web/src/components/Combat/Counter/index.tsx
  packages/web/src/components/Combat/MonsterSlider/Monster/index.tsx
  packages/web/src/components/Combat/PlayerSlider/Player/index.tsx
  packages/web/src/components/Combat/PlayerSlider/index.tsx
  packages/web/src/components/Counter/index.tsx
  packages/web/src/components/Home/AppBar/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/Home/PlayerList/OverlayItem/index.tsx
  packages/web/src/components/LocaleProvider/index.tsx
  packages/web/src/components/Player/Slider/index.tsx
  packages/web/src/components/PlayerAvatar/index.tsx
  packages/web/src/components/PlayerDialog/AppBar/index.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Color.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Dialog.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Popover.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/index.tsx
  packages/web/src/components/PlayerListItemText/index.tsx
  packages/web/src/components/ReduxProvider/index.tsx
  packages/web/src/components/SexIcon/index.tsx
  packages/web/src/components/TopAppBar/index.tsx
  packages/web/src/components/UndoProvider/index.tsx
  packages/web/src/components/WakeLockProvider/index.tsx
  packages/web/src/components/WorkboxProvider/index.tsx
  packages/web/src/domains/player/index.ts
  packages/web/src/domains/player/playerType.ts
  packages/web/src/domains/player/sexType.ts
  packages/web/src/utils/propTypes.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: update ESLint config
  eslint.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  eslint.config.js
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: fix full screen dialog background for pure black
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: avoid caching during dev
  packages/web/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

fix: unify delete icon
  packages/web/src/components/PlayerDialog/AppBar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: use responsive font on site
  packages/site/lib/theme.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.5.6
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: setup Google Analytics
  packages/site/components/Analytics.tsx
  packages/site/components/RootLayout.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: drop globalThis workaround
  packages/site/components/RootLayout.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: update site layout
  packages/site/components/HomePage.tsx
  packages/site/lib/theme.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: add site extract command
  packages/site/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: test crowdin integration [skip ci]
  packages/site/components/HomePage.tsx
  packages/site/locales/en.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Russian)
  packages/site/locales/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

New Crowdin updates (#227)
  packages/site/locales/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: follow conventional commit for Crowdin PRd
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: drop rimraf dependency
  knip.json
  package.json
  packages/cordova/package.json
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: drop postcss functionality
  knip.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: drop @types/dom-screen-wake-lock
  eslint.config.js
  knip.json
  packages/cordova/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: init domains
  .gitignore
  crowdin.yml
  packages/site/domains/l10n/messages/en.json
  packages/site/domains/l10n/messages/ru.json
  packages/site/lib/i18n.ts
  packages/site/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: fix linting
  packages/web/src/components/LevelLimitDialog/LevelLimitForm.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore(l10n): new translations %original_path%en.json (%locale%)
  packages/site/domains/l10n/messages/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: create domains
  packages/site/app/(default)/layout.tsx
  packages/site/app/(default)/privacy/page.tsx
  packages/site/app/(multilingual)/[language]/layout.tsx
  packages/site/app/(multilingual)/[language]/page.tsx
  packages/site/components/I18nProvider.tsx
  packages/site/domains/fonts/index.ts
  packages/site/domains/fonts/munchkin.woff2
  packages/site/domains/fonts/munchkinFont.ts
  packages/site/domains/home-page/HomePage.tsx
  packages/site/domains/home-page/StoreButton.tsx
  packages/site/domains/home-page/index.ts
  packages/site/domains/i18n/I18nProvider.tsx
  packages/site/domains/i18n/constants.ts
  packages/site/domains/i18n/getServerIntl.ts
  packages/site/domains/i18n/index.ts
  packages/site/domains/l10n/constants.ts
  packages/site/domains/l10n/getL10nMessages.ts
  packages/site/domains/l10n/index.ts
  packages/site/domains/layout/RootLayout.tsx
  packages/site/domains/layout/index.ts
  packages/site/domains/privacy-page/PrivacyPolicy.tsx
  packages/site/domains/privacy-page/index.ts
  packages/site/domains/theme/StylisProvider.tsx
  packages/site/domains/theme/ThemeRegistry.tsx
  packages/site/domains/theme/index.ts
  packages/site/domains/theme/theme.ts
  packages/site/lib/i18n.ts
  packages/site/lib/languages.ts
  packages/site/lib/locales.ts
  packages/site/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: update layout spacing
  packages/site/domains/home-page/HomePage.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: create language switcher
  packages/site/domains/home-page/HomePage.tsx
  packages/site/domains/i18n/LanguageSwitcher.tsx
  packages/site/domains/i18n/index.ts
  packages/site/domains/l10n/messages/en.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade [skip ci]
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write

chore(l10n): new translations %original_path%en.json (%locale%) (#229)
  packages/site/domains/l10n/messages/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: use only allowed placeholders
  crowdin.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: *.css)
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: *
  prettier --cache --write: (any of: *.css) or (any of: *.{js,ts,tsx})
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: *.{js,ts,tsx}
