Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix

Move StatusBar control to cordova workspace
  StatusBar.d.ts
  cordova/src/components/StatusBarProvider/index.tsx
  cordova/src/components/StatusBarProvider/useStatusBar.ts
  cordova/src/index.tsx
  global.d.ts
  src/components/AugmentedThemeProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Set package.json type module
  .eslintrc.json
  .github/workflows/deploy.yml
  .lintstagedrc.json
  cordova/package.json
  cordova/webpack.config.js
  package.json
  scripts/i18n/download.js
  scripts/poeditor.js
  scripts/screenshots.js
  scripts/smartcat.js
  scripts/version.js
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

Convert jest.config to esm syntax
  jest.config.js
  jest.config.ts
  package-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Move SplashScreen control to cordova workspace
  SplashScreen.d.ts
  cordova/src/components/SplashScreenProvider/index.tsx
  cordova/src/index.tsx
  src/components/App/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Move cordova polyfills to related workspace
  cordova/package.json
  cordova/src/index.tsx
  cordova/src/scroll.js
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Split WakeLockProvider
  cordova/src/components/WakeLockProvider/index.tsx
  cordova/src/index.tsx
  src/components/SettingsList/InsomniaItem/index.tsx
  src/utils/wakeLockContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Node.js 19.6.1
  .nvmrc
Due: prettier --cache --ignore-unknown --write

Use workbox-cli instead of workbox-webpack-plugin
  package-lock.json
  package.json
  webpack.config.js
  workbox.config.cjs
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Migrate from Webpack to Parcel
  .browserslistrc
  .gitignore
  .lintstagedrc.json
  .stylelintrc.json
  babel.config.js
  babel.config.json
  cordova/package.json
  cordova/src/index.html
  cordova/webpack.config.js
  firebase.json
  global.d.ts
  jest.config.js
  package-lock.json
  package.json
  src/index.html
  src/static/manifest.json
  src/store/index.ts
  webpack.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix

Cordova version bump
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

14.0.0
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Update version pass in GitHub Actions
  .github/workflows/deploy.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Try global variables
  cordova/src/components/FullVersionProvider/index.tsx
  cordova/src/components/StatusBarProvider/useStatusBar.ts
  global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.0.1
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Revert "Try global variables"
  cordova/src/components/FullVersionProvider/index.tsx
  cordova/src/components/StatusBarProvider/useStatusBar.ts
  global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Temporary fix for CI linting
  .eslintignore
  cordova/StatusBar.d.ts
  cordova/global.d.ts
  cordova/src/index.tsx
  cordova/src/scroll.js
  cordova/store.d.ts
  global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.0.2
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix version on deploy
  .github/workflows/deploy.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

Raise Android SDK version to 33
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

14.0.3
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Change target SDK
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Set targetSdkVersion 31
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Remove android-targetSdkVersion
  cordova/config.xml
Due: prettier --cache --ignore-unknown --write

Move Keyboard control to cordova workspace
  .eslintignore
  cordova/Keyboard.d.ts
  cordova/src/components/KeyboardProvider/index.tsx
  cordova/src/index.tsx
  global.d.ts
  src/components/AugmentedThemeProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Move Windows control to cordova workspace
  cordova/global.d.ts
  global.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Cordova Android 11
  cordova/config.xml
  cordova/package.json
  cordova/res/android/splash-land-night-xhdpi.png
  cordova/res/android/splash-land-xhdpi.png
  cordova/res/android/splash-port-night-xhdpi.png
  cordova/res/android/splash-port-xhdpi.png
  cordova/res/android/splash-screen-icon.png
  cordova/res/android/values-night/colors.xml
  cordova/res/android/values/styles.xml
  package-lock.json
  package.json
  patches/cordova-plugin-firebasex+16.0.0.patch
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Use cordova-plugin-firebase-analytics & cordova-plugin-firebase-crash instead of cordova-plugin-firebasex
  cordova/config.xml
  cordova/package.json
  package-lock.json
  package.json
  patches/cordova-plugin-firebasex+16.0.0.patch
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

14.0.5
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Replace rm -> rimraf
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Add www build for each platform
  cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Migrate to Yarn 3
  .eslintignore
  .github/workflows/deploy.yml
  .gitignore
  .husky/pre-push
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  cordova/package.json
  cordova/src/components/CordovaProvider/hideWindowsBackButton.ts
  package-lock.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, eslint --cache --fix

Fix Cordova Windows parcel dynamic import
  .yarn/patches/@parcel-runtime-js-npm-2.8.3-a82379279f.patch
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Replace override -> resolutions
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, eslint --cache --fix

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: any of: **/*.{css,html,tsx}
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: **/*
  stylelint --allow-empty-input --cache --fix: any of: **/*.{css,html}
  eslint --cache --fix: any of: **/*.{js,json,mjs,ts,tsx}
