Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.css": "stylelint --cache --fix",
  "*.{js,json,ts,tsx}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: update durable product own condition
  packages/windows/Munchkin/Munchkin/WebViewBridge.cs
  packages/windows/src/domains/full-version/FullVersionProvider.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: include Assets\www artifacts during packageing
  packages/windows/Munchkin/Munchkin/Munchkin.csproj
Due: prettier --cache --ignore-unknown --write

chore: remove memory limit from lint-js script
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: copy artifacts
  packages/windows/Munchkin/Munchkin/Munchkin.csproj
Due: prettier --cache --ignore-unknown --write

chore: remove extension from lint-js
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update linting
  packages/web/src/components/Combat/HelperButton/index.tsx
  packages/web/src/components/Combat/HelperSelector/index.tsx
  packages/web/src/components/Combat/MonsterSlider/index.tsx
  packages/web/src/components/Counter/index.tsx
  packages/web/src/components/Home/AppBar/EditButton/index.tsx
  packages/web/src/components/Home/AppBar/ResetButton/index.tsx
  packages/web/src/components/Home/AppBar/ShuffleButton/index.tsx
  packages/web/src/components/Home/PlayerAddButton/index.tsx
  packages/web/src/components/Nobody/index.tsx
  packages/web/src/components/Player/AppBar/KillPlayerButton/index.tsx
  packages/web/src/components/PlayerDialog/PlayerDialogActions.tsx
  packages/web/src/components/PlayerDialog/PlayerDialogTitle.tsx
  packages/web/src/components/SettingsDialog/index.tsx
  packages/web/src/components/SettingsIconButton/index.tsx
  packages/web/src/components/SettingsList/PrivacyItem/index.tsx
  packages/web/src/components/SettingsList/RestorePurchasesItem/index.tsx
  packages/web/src/components/SettingsList/ShareItem/index.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/components/ThemeSchemeDialog/index.tsx
  packages/web/src/hooks/useDeletePlayers.tsx
  packages/web/src/messages/levelLimit.ts
  packages/web/src/messages/theme.ts
  packages/web/src/theme/colors/apocalypse.ts
  packages/web/src/theme/colors/booty.ts
  packages/web/src/theme/colors/cthulhu.ts
  packages/web/src/theme/colors/legends.ts
  packages/web/src/theme/colors/munchkin.ts
  packages/web/src/theme/colors/star.ts
  packages/web/src/theme/colors/super.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.1.5
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(windows): add ru app display name
  packages/windows/Munchkin/Munchkin (Package)/Munchkin (Package).wapproj
  packages/windows/Munchkin/Munchkin (Package)/Package.appxmanifest
  packages/windows/Munchkin/Munchkin (Package)/Strings/en/Resources.resw
  packages/windows/Munchkin/Munchkin (Package)/Strings/ru/Resources.resw
Due: prettier --cache --ignore-unknown --write

feat(windows): add app title bar icon
  packages/windows/Munchkin/Munchkin (Package)/Package.appxmanifest
  packages/windows/Munchkin/Munchkin/Assets/Icon.ico
  packages/windows/Munchkin/Munchkin/MainWindow.xaml.cs
  packages/windows/Munchkin/Munchkin/Munchkin.csproj
Due: prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/LevelLimitDialog/LevelLimitForm.tsx
  packages/web/src/components/PlayerDialog/PlayerForm.tsx
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(deps): update Microsoft.Windows.SDK.BuildTools and Microsoft.WindowsAppSDK versions
  packages/windows/Munchkin/Munchkin (Package)/Munchkin (Package).wapproj
Due: prettier --cache --ignore-unknown --write

chore: packages upgrade
  knip.json
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update Renovate configuration to use best practices
  renovate.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(deps): update cordova deps
  packages/cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/babel-preset-web/index.js
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: move index from web to pwa
  packages/pwa/package.json
  packages/pwa/src/index.html
  packages/pwa/src/index.tsx
  packages/pwa/src/templates/markup/index.html.hbs
  packages/web/.browserslistrc
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add copilot instructions and mcp configuration
  .github/copilot-instructions.md
  .gitignore
  .vscode/mcp.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: refactor polyfills import
  packages/pwa/package.json
  packages/pwa/src/index.tsx
  packages/pwa/src/polyfills.ts
  packages/web/package.json
  packages/windows/package.json
  packages/windows/src/index.tsx
  packages/windows/src/polyfills.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: workspace initial import setup
  eslint.config.js
  knip.json
  packages/babel-preset-web/package.json
  packages/cordova/.babelrc.json
  packages/cordova/package.json
  packages/cordova/src/cordova.tsx
  packages/pwa/.babelrc.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/.babelrc.json
  packages/web/package.json
  packages/windows/.babelrc.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: use @munchkin/web
  packages/cordova/src/components/AppStoreLinkProvider/index.tsx
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/cordova/src/components/VersionProvider/index.tsx
  packages/cordova/src/components/WakeLockProvider/index.tsx
  packages/cordova/src/cordova.tsx
  packages/cordova/src/domains/cordova-app/useExitApp.ts
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
  packages/pwa/package.json
  packages/pwa/src/index.tsx
  packages/pwa/tests/screenshots.test.ts
  packages/windows/package.json
  packages/windows/src/domains/full-version/FullVersionProvider.tsx
  packages/windows/src/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: use barrel export
  eslint.config.js
  packages/cordova/src/components/AppStoreLinkProvider/index.tsx
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/cordova/src/components/VersionProvider/index.tsx
  packages/cordova/src/components/WakeLockProvider/index.tsx
  packages/cordova/src/cordova.tsx
  packages/cordova/src/domains/cordova-app/useExitApp.ts
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
  packages/pwa/src/index.tsx
  packages/web/index.ts
  packages/windows/src/domains/full-version/FullVersionProvider.tsx
  packages/windows/src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .nvmrc
  .yarnrc.yml
  AGENTS.md
  eslint.config.js
  knip.json
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  AGENTS.md
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add oxlint configuration and update linting scripts
  .oxlintrc.json
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update check tasks
  .github/workflows/deploy-pwa.yml
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add chrome-devtools configuration to mcp.json
  .vscode/mcp.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: format
  packages/web/l10n/be.json
  packages/web/l10n/cs.json
  packages/web/l10n/da.json
  packages/web/l10n/de.json
  packages/web/l10n/el.json
  packages/web/l10n/es.json
  packages/web/l10n/fi.json
  packages/web/l10n/fr.json
  packages/web/l10n/he.json
  packages/web/l10n/hu.json
  packages/web/l10n/hy.json
  packages/web/l10n/it.json
  packages/web/l10n/nb.json
  packages/web/l10n/nl.json
  packages/web/l10n/pl.json
  packages/web/l10n/pt-BR.json
  packages/web/l10n/pt.json
  packages/web/l10n/ru.json
  packages/web/l10n/sk.json
  packages/web/l10n/tr.json
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write
