Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.css": "stylelint --cache --fix",
  "*.{js,json,ts,tsx}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

chore(web): add CloseIconButton component and update BackButton usage
  packages/web/src/components/PlayerDialog/AppBar/index.tsx
  packages/web/src/components/TopAppBar/index.tsx
  packages/web/src/components/TopIconButton/index.tsx
  packages/web/src/domains/ui/CloseIconButton.tsx
  packages/web/src/domains/ui/RouteModal.tsx
  packages/web/src/domains/ui/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add skills package and install `vercel-react-best-practices`
  package.json
  skills-lock.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
  packages/site/next-env.d.ts
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/LevelLimitDialog/LevelLimitForm.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: upgrade `cordova-plugin-purchase`
  packages/cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: fix helper button position
  packages/web/src/components/Combat/HelperButton/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update action versions in deployment YAML files
  .github/workflows/deploy-pwa.yml
  .github/workflows/deploy-site.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

16.1.11
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update check script to include type generation for @munchkin/site
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.1.12
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(cordova): bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

fix(cordova): temporary fix back button/gesture on Android 16+
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

feat(web): delete player on player screen
  packages/web/src/components/Player/AppBar/index.tsx
  packages/web/src/components/Player/PlayerDeleteMenuItem.tsx
  packages/web/src/components/Player/PlayerMenuIconButton.tsx
  packages/web/src/components/RouteScreenModal/RouteScreenModal.tsx
  packages/web/src/store/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(web): refactor counter button to use spin button from React Aria
  packages/web/package.json
  packages/web/src/components/Combat/Counter/index.tsx
  packages/web/src/components/Combat/PlayerSlider/Player/index.tsx
  packages/web/src/components/Counter/Button/index.tsx
  packages/web/src/components/Counter/index.tsx
  packages/web/src/components/Home/SinglePlayer/index.tsx
  packages/web/src/components/Player/Slider/Stats/index.tsx
  packages/web/src/utils/levelLimit.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .yarnrc.yml
  yarn.lock
Due: prettier --write, prettier --cache --ignore-unknown --write

refactor(web): remove delete functionality from player dialog components
  packages/web/src/components/PlayerDialog/AppBar/index.tsx
  packages/web/src/components/PlayerDialog/PlayerDialogActions.tsx
  packages/web/src/components/PlayerDialog/PlayerDialogTitle.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(web): add edit player menu item to player view
  packages/web/src/components/Player/PlayerEditMenuItem.tsx
  packages/web/src/components/Player/PlayerMenuIconButton.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.2.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.2.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(web): place Snackbar above FAB
  packages/web/src/components/UndoSnackbar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.2.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(sentry): add browser tracing integration
  packages/cordova/src/sentry.ts
  packages/web/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(eslint): no-extra-spacing-attrs -> no-extra-spacing-tags
  eslint.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "chore(sentry): add browser tracing integration"
  packages/cordova/src/sentry.ts
  packages/web/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: cordova-plugin-inset-injector -> @totalpave/cordova-plugin-insets
  packages/cordova/global.d.ts
  packages/cordova/package.json
  packages/cordova/src/domains/cordova-app/CordovaApp.tsx
  packages/cordova/src/domains/cordova-app/Insets.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .github/workflows/deploy-pwa.yml
  .github/workflows/deploy-site.yml
  .nvmrc
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/jest.config.ts
  packages/web/package.json
  packages/web/src/store/migrations/colors/index.spec.ts
  packages/web/src/store/migrations/themeMode/index.spec.ts
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  eslint.config.js
  knip.json
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .nvmrc
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  skills-lock.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: fix bg color for route views
  packages/web/src/domains/ui/RouteModal.tsx
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.2.3
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update Windows version
  packages/windows/Munchkin/Munchkin (Package)/Munchkin (Package).wapproj
  packages/windows/Munchkin/Munchkin (Package)/Package.appxmanifest
Due: prettier --cache --ignore-unknown --write

chore: packages upgrade
  .nvmrc
  package.json
  packages/cordova/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: remove console.log
  packages/cordova/src/domains/cordova-app/Insets.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: set statusbar color on resume event
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: use native language change for Android 13+
  packages/cordova/global.d.ts
  packages/cordova/package.json
  packages/cordova/src/cordova.tsx
  packages/cordova/src/domains/cordova-app/PlatformLocaleProvider.tsx
  packages/cordova/src/domains/cordova-app/android.ts
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
  packages/web/index.ts
  packages/web/l10n/en.json
  packages/web/src/components/LocaleProvider/index.tsx
  packages/web/src/components/SettingsList/LocaleItem/LocaleItem.tsx
  packages/web/src/components/SettingsList/LocaleItem/index.ts
  packages/web/src/components/SettingsList/index.tsx
  packages/web/src/domains/i18n/LocaleContext.ts
  packages/web/src/domains/i18n/index.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write
