Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, stylelint --allow-empty-input --cache --fix, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*": "prettier --cache --ignore-unknown --write",
  "**/*.css": "stylelint --allow-empty-input --cache --fix",
  "**/*.{js,json,ts,tsx}": "node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix"
}

chore: ignore package.json for site build
  .github/workflows/deploy-site.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: remove unused styles
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: move attributes to drag handler
  packages/web/src/components/Home/PlayerList/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

ci: fix workflow syntax
  .github/workflows/deploy-site.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: remove old Edge specific style
  packages/web/src/components/Player/Slider/SliderItem.tsx
  packages/web/src/components/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

feat: enable ripple for drag handler
  packages/web/src/components/Home/PlayerList/Item/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: use `rem` for font sizes
  packages/web/src/components/Combat/Counter/index.tsx
  packages/web/src/components/Counter/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/Home/SinglePlayer/index.tsx
  packages/web/src/components/Player/Slider/Stats/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: use inert to disable non-active slider item focus
  packages/web/src/components/Player/Slider/SliderItem.tsx
  packages/web/src/components/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: use primary color for undo button
  packages/web/src/components/UndoSnackbar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

feat: add Next/Prev buttons for slider on large screens
  packages/web/src/components/Player/Slider/index.tsx
  packages/web/src/components/Player/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: lint fix
  packages/cordova/scripts/copy-gradle-extras.js
  packages/web/src/store/migrations/colors/index.ts
  packages/web/src/store/migrations/themeMode/index.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: set up import/no-cycle
  .eslintrc.json
  packages/web/src/components/Combat/AppBar/index.tsx
  packages/web/src/components/Combat/HelperSelector/index.tsx
  packages/web/src/components/Combat/PlayerSlider/Player/index.tsx
  packages/web/src/components/Combat/PlayerSlider/index.tsx
  packages/web/src/components/Home/AppBar/index.tsx
  packages/web/src/components/Home/SinglePlayer/index.tsx
  packages/web/src/components/Player/AppBar/KillPlayerButton/index.tsx
  packages/web/src/components/Player/CombatButton/index.tsx
  packages/web/src/components/Player/List/index.tsx
  packages/web/src/components/Player/index.tsx
  packages/web/src/components/PlayerView/index.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/ducks/combat/index.spec.ts
  packages/web/src/ducks/combat/index.ts
  packages/web/src/ducks/monsters/index.spec.ts
  packages/web/src/ducks/monsters/reducer.ts
  packages/web/src/hooks/usePlayerId.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix: nav button spacing
  packages/web/src/components/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.4.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: remove eslint-disable
  packages/site/app/(multilingual)/[language]/page.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: set up eslint-plugin-formatjs
  .eslintrc.json
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: enable formatjs/enforce-id
  .eslintrc.json
  packages/site/app/(multilingual)/[language]/page.tsx
  packages/web/src/components/CancelButton/index.tsx
  packages/web/src/components/Combat/AppBar/index.tsx
  packages/web/src/components/Combat/HelperButton/index.tsx
  packages/web/src/components/Combat/HelperSelector/index.tsx
  packages/web/src/components/Combat/MonsterSlider/index.tsx
  packages/web/src/components/Counter/index.tsx
  packages/web/src/components/DiceButton/index.tsx
  packages/web/src/components/Home/AppBar/EditButton/index.tsx
  packages/web/src/components/Home/AppBar/ResetButton/index.tsx
  packages/web/src/components/Home/AppBar/ShuffleButton/index.tsx
  packages/web/src/components/Home/AppBar/index.tsx
  packages/web/src/components/Home/PlayerAddButton/index.tsx
  packages/web/src/components/Nobody/index.tsx
  packages/web/src/components/Player/AppBar/KillPlayerButton/index.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Dialog.tsx
  packages/web/src/components/PlayerDialog/index.tsx
  packages/web/src/components/SettingsDialog/index.tsx
  packages/web/src/components/SettingsIconButton/index.tsx
  packages/web/src/components/SettingsList/KeepAwakeItem/index.tsx
  packages/web/src/components/SettingsList/PrivacyItem/index.tsx
  packages/web/src/components/SettingsList/RateItem/index.tsx
  packages/web/src/components/SettingsList/RestorePurchasesItem/index.tsx
  packages/web/src/components/SettingsList/ShareItem/index.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/components/SettingsList/TranslateItem/index.tsx
  packages/web/src/components/SubmitButton/index.tsx
  packages/web/src/components/ThemeSchemeDialog/index.tsx
  packages/web/src/components/UndoSnackbar/index.tsx
  packages/web/src/hooks/useDeletePlayers.tsx
  packages/web/src/messages/levelLimit.ts
  packages/web/src/messages/theme.ts
  packages/web/src/theme/colors/apocalypse.ts
  packages/web/src/theme/colors/booty.ts
  packages/web/src/theme/colors/cthulhu.ts
  packages/web/src/theme/colors/legends.ts
  packages/web/src/theme/colors/munchkin.ts
  packages/web/src/theme/colors/star.ts
  packages/web/src/theme/colors/super.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: format after linting on commit
  .lintstagedrc.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: add prev nav button tooltip
  packages/web/l10n/en.json
  packages/web/src/components/Player/Slider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (French)
  packages/web/l10n/fr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Belarusian)
  packages/web/l10n/be.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Spanish)
  packages/web/l10n/es.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Czech)
  packages/web/l10n/cs.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Danish)
  packages/web/l10n/da.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (German)
  packages/web/l10n/de.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Greek)
  packages/web/l10n/el.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Finnish)
  packages/web/l10n/fi.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Hungarian)
  packages/web/l10n/hu.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Hebrew)
  packages/web/l10n/he.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Armenian)
  packages/web/l10n/hy.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Italian)
  packages/web/l10n/it.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Dutch)
  packages/web/l10n/nl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Polish)
  packages/web/l10n/pl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Portuguese)
  packages/web/l10n/pt.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Russian)
  packages/web/l10n/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Slovak)
  packages/web/l10n/sk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Turkish)
  packages/web/l10n/tr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Ukrainian)
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Portuguese, Brazilian)
  packages/web/l10n/pt-BR.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

New translations en.json (Norwegian Bokmal)
  packages/web/l10n/nb.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix
