Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*": "prettier --cache --ignore-unknown --write",
  "*.css": ["stylelint --cache --fix", "prettier --cache --write"],
  "*.{js,ts,tsx}": [
    "node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix",
    "madge --circular",
    "prettier --cache --write"
  ]
}

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: unify provider experience
  packages/cordova/src/components/CordovaProvider/index.tsx
  packages/cordova/src/cordova.tsx
  packages/web/src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: create Apps to combine specific hooks
  packages/cordova/src/cordova.tsx
  packages/cordova/src/domains/cordova-app/CordovaApp.tsx
  packages/cordova/src/domains/cordova-app/index.ts
  packages/cordova/src/domains/cordova-app/useAnalyticsScreenView.ts
  packages/cordova/src/domains/cordova-app/useExitApp.ts
  packages/cordova/src/domains/cordova-app/useHeaderColor.ts
  packages/cordova/src/domains/cordova-app/useHideSplashScreen.ts
  packages/cordova/src/domains/cordova-app/useKeyboardStyle.ts
  packages/cordova/src/domains/cordova-app/useNavigationBreadcrumbs.ts
  packages/cordova/src/domains/cordova-app/useStatusBar.ts
  packages/web/src/domains/theme/index.ts
  packages/web/src/domains/theme/useThemeColor.tsx
  packages/web/src/domains/web-app/WebApp.tsx
  packages/web/src/domains/web-app/index.ts
  packages/web/src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: remove default cordova-plugin-localization-strings TRANSLATION_PATH value
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: move cordova config section up
  packages/cordova/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

fix: correct pureDark implementation
  packages/web/src/theme/getThemeOptions.ts
  packages/web/styles.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

15.6.15
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/cordova/src/components/WakeLockProvider/index.tsx
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/Player/Slider/index.tsx
  packages/web/src/components/WakeLockProvider/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

fix: use top padding instead of min height
  packages/web/src/components/TopAppBar/index.tsx
  packages/web/src/theme/getThemeOptions.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: format template literals
  packages/web/src/components/Player/Slider/index.tsx
  packages/web/src/components/ScreenFab/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

feat: use insets for android
  packages/cordova/package.json
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/cordova/src/domains/cordova-app/CordovaApp.tsx
  packages/cordova/src/domains/cordova-app/Insets.tsx
  packages/web/src/components/Combat/HelperButton/index.tsx
  packages/web/src/components/Combat/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/Home/PlayerList/OverlayItem/index.tsx
  packages/web/src/components/Home/index.tsx
  packages/web/src/components/Player/Slider/index.tsx
  packages/web/src/components/PlayerDialog/index.tsx
  packages/web/src/components/ScreenFab/index.tsx
  packages/web/src/components/SettingsList/SettingsListItemButton.tsx
  packages/web/src/components/TopAppBar/index.tsx
  packages/web/src/global.css
  packages/web/src/theme/getThemeOptions.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

15.7.0
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

fix: revert @formatjs/intl-datetimeformat drop
  packages/web/package.json
  packages/web/src/components/LocaleProvider/polyfillIntl.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: add manual trigger to site workflow
  .github/workflows/deploy-site.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: update next-env.d.ts after Next.js upgrade
  packages/site/next-env.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: recreate yarn.lock to fix types collision
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore: try to compile site for cordova supported browsers
  packages/site/.browserslistrc
  packages/site/next.config.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

fix: handle drag cancel event
  packages/web/src/components/Home/PlayerList/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

15.7.1
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: remove console.log
  packages/cordova/src/domains/cordova-app/Insets.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: remove StatusBarOverlaysWebView
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

fix: fix scroll area when keyboard is shown
  packages/cordova/global.d.ts
  packages/cordova/package.json
  packages/cordova/src/domains/cordova-app/CordovaApp.tsx
  packages/cordova/src/domains/cordova-app/Insets.tsx
  packages/cordova/src/domains/cordova-app/Keyboard.tsx
  packages/cordova/src/domains/cordova-app/useKeyboardStyle.ts
  packages/web/src/components/PlayerDialog/index.tsx
  packages/web/src/global.css
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

15.7.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: remove analytics screen view
  packages/cordova/package.json
  packages/cordova/src/domains/cordova-app/CordovaApp.tsx
  packages/cordova/src/domains/cordova-app/useAnalyticsScreenView.ts
  packages/web/src/utils/useScreenView.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: use startTransition & useState instead of swr
  packages/web/package.json
  packages/web/src/components/LocaleProvider/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: drop `forwardRef` usage after React 19 upgrade
  packages/web/package.json
  packages/web/src/components/Home/PlayerList/Item/DragIconButton/index.tsx
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: drop `memo` usage
  packages/web/src/components/Combat/HelperButton/index.tsx
  packages/web/src/components/Combat/MonsterSlider/index.tsx
  packages/web/src/components/Combat/PlayerSlider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: use default `ShowSplashScreenSpinner` value
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

fix: fix Dice display in some cases
  packages/web/src/components/DiceDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

15.7.3
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write
