Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: rimraf direct usage
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: move typegen to related workspace on postinstall
  package.json
  packages/site/package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update .prettierignore to include trailing slashes for directories
  .prettierignore
Due: prettier --cache --ignore-unknown --write

chore: update lint-staged configuration to include HTML files for ESLint
  .lintstagedrc.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update Windows deps
  packages/windows/Munchkin/Munchkin (Package)/Munchkin (Package).wapproj
Due: prettier --cache --ignore-unknown --write

chore: packages upgrade
  .yarn/releases/yarn-4.17.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
  packages/babel-preset-web/index.js
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/next-env.d.ts
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  skills-lock.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(cordova): treat DEVELOPER_ERROR as FullVersionError
  packages/cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(cordova): silent logging in production build
  packages/cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .gitignore
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/Player/AppBar/KillPlayerButton/index.tsx
  packages/windows/package.json
  skills-lock.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: linting
  eslint.config.js
  packages/pwa/scripts/build-assets.js
  packages/site/next.config.ts
  packages/web/src/domains/i18n/polyfillIntl.ts
  packages/web/src/hooks/usePreviewTheme.ts
  packages/web/src/messages/levelLimit.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/pwa/scripts/build-assets.js
  packages/site/next.config.ts
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/PlayerAvatar/index.tsx
  packages/web/src/domains/ui/useInitialAppear.ts
  packages/web/src/hooks/usePreviewTheme.ts
  packages/web/src/theme/getThemeOptions.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(windows): update Windoes deps
  packages/windows/Munchkin/Munchkin (Package)/Munchkin (Package).wapproj
Due: prettier --cache --ignore-unknown --write

chore: skills update
  skills-lock.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

16.2.4
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(cordova): bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore(windows): bump Windows version
  packages/windows/Munchkin/Munchkin (Package)/Package.appxmanifest
Due: prettier --cache --ignore-unknown --write

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: *.css)
  prettier --write: any of: **/*.{md,yml}
  eslint --cache --fix: any of: *.{js,json,ts,tsx}
  prettier --cache --ignore-unknown --write: any of: *
