Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore(l10n): new translations en.json (Belarusian)
  packages/web/l10n/be.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Czech)
  packages/web/l10n/cs.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Danish)
  packages/web/l10n/da.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (German)
  packages/web/l10n/de.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Greek)
  packages/web/l10n/el.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Finnish)
  packages/web/l10n/fi.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hebrew)
  packages/web/l10n/he.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Hungarian)
  packages/web/l10n/hu.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Armenian)
  packages/web/l10n/hy.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Italian)
  packages/web/l10n/it.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Dutch)
  packages/web/l10n/nl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Polish)
  packages/web/l10n/pl.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese)
  packages/web/l10n/pt.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Russian)
  packages/web/l10n/ru.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Slovak)
  packages/web/l10n/sk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Turkish)
  packages/web/l10n/tr.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Ukrainian)
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Portuguese, Brazilian)
  packages/web/l10n/pt-BR.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new translations en.json (Norwegian Bokmal)
  packages/web/l10n/nb.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore(l10n): new Crowdin updates (#273)
  packages/web/l10n/be.json
  packages/web/l10n/cs.json
  packages/web/l10n/da.json
  packages/web/l10n/de.json
  packages/web/l10n/el.json
  packages/web/l10n/es.json
  packages/web/l10n/fi.json
  packages/web/l10n/fr.json
  packages/web/l10n/he.json
  packages/web/l10n/hu.json
  packages/web/l10n/hy.json
  packages/web/l10n/it.json
  packages/web/l10n/nb.json
  packages/web/l10n/nl.json
  packages/web/l10n/pl.json
  packages/web/l10n/pt-BR.json
  packages/web/l10n/pt.json
  packages/web/l10n/ru.json
  packages/web/l10n/sk.json
  packages/web/l10n/tr.json
  packages/web/l10n/uk.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: simplify ColorPicker component by removing unused props and handlers
  packages/web/src/components/PlayerDialog/ColorPicker/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: refactor ScreenDialog
  packages/web/src/components/HomeView/index.tsx
  packages/web/src/components/ScreenDialog/ScreenDialogTransition.tsx
  packages/web/src/components/ScreenDialog/index.tsx
  packages/web/src/hooks/useInitialRender.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  packages/babel-preset-web/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: exclude USER_CANCELED error from logging
  packages/cordova/src/components/FullVersionProvider/index.tsx
  packages/web/src/components/SettingsList/SingleModeItem/index.tsx
  packages/web/src/components/ThemeDialog/index.tsx
  packages/web/src/utils/fullVersionContext.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

16.1.3
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: bump cordova version
  packages/cordova/config.xml
Due: prettier --cache --ignore-unknown --write

chore: refactor drag and drop functionality in player list
  packages/web/src/components/Home/PlayerList/Item/index.tsx
  packages/web/src/components/Home/PlayerList/PlayerListAvatar.tsx
  packages/web/src/components/Home/PlayerList/PlayerListDndContext.tsx
  packages/web/src/components/Home/PlayerList/PlayerListDragOverlay.tsx
  packages/web/src/components/Home/PlayerList/PlayerSortableList.tsx
  packages/web/src/components/Home/PlayerList/index.tsx
  packages/web/src/components/Home/PlayerList/useActivateMultiSelect.ts
  packages/web/src/components/PlayerAvatar/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  packages/pwa/package.json
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

fix: update error handling for order process
  packages/cordova/src/components/FullVersionProvider/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

16.1.4
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .yarn/releases/yarn-4.11.0.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write

chore: switch to oxlint for cycle detect
  .lintstagedrc.json
  .madgerc
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/babel-preset-web/package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/package.json
  packages/web/package.json
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/domains/i18n/polyfillIntl.ts
  packages/windows/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/pwa/package.json
  packages/site/next.config.ts
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: bootstrap Windows full version provider
  packages/windows/src/domains/full-version/FullVersionProvider.tsx
  packages/windows/src/domains/full-version/index.ts
  packages/windows/src/domains/windows-app/WindowsApp.tsx
  packages/windows/src/domains/windows-app/index.ts
  packages/windows/src/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: use default to `false`
  packages/windows/src/domains/full-version/FullVersionProvider.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

chore: implement Windows IAP flow between WebView2
  package.json
  packages/windows/Munchkin/Munchkin (Package)/Munchkin (Package).wapproj
  packages/windows/Munchkin/Munchkin (Package)/Package.appxmanifest
  packages/windows/Munchkin/Munchkin/MainWindow.xaml
  packages/windows/Munchkin/Munchkin/MainWindow.xaml.cs
  packages/windows/Munchkin/Munchkin/WebViewBridge.cs
  packages/windows/src/domains/full-version/FullVersionProvider.tsx
  packages/windows/src/domains/windows-app/WindowsApp.tsx
  packages/windows/tsconfig.json
  tsconfig.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix, madge --circular

Path conditions:
  eslint --cache --ext=.js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs,ts,tsx}
  stylelint --cache --fix: (any of: **/*.{css,html,tsx}) or (any of: *.css)
  prettier --write: any of: **/*.{md,yml}
  prettier --cache --ignore-unknown --write: any of: *
  prettier --cache --write: (any of: *.css) or (any of: *.{js,ts,tsx})
  node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix: any of: *.{js,ts,tsx}
  madge --circular: any of: *.{js,ts,tsx}
