Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs,ts,tsx}": [
    "eslint --cache --ext=.js,.json,.jsx,.mjs --fix"
  ],
  "**/*.{css,html,tsx}": [
    "stylelint --cache --fix"
  ],
  "**/*.{md,yml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*": "prettier --cache --ignore-unknown --write",
  "*.css": ["stylelint --cache --fix", "prettier --cache --write"],
  "*.{js,ts,tsx}": [
    "node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix",
    "prettier --cache --write"
  ]
}

chore: migrate eslint-plugin-jest to flat config
  eslint.config.js
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write

chore: deps upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  .nvmrc
  eslint.config.js
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/utils/platforms.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: fix dependabot
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore: packages upgrade
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write

fix: add mobile-web-app-capable
  packages/web/src/index.html
  packages/web/src/templates/markup/index.html.hbs
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

feat: upgrade MUI to v6
  packages/cordova/package.json
  packages/site/components/ThemeRegistry.tsx
  packages/site/lib/theme.ts
  packages/site/package.json
  packages/web/package.json
  packages/web/src/components/AugmentedThemeProvider/index.tsx
  packages/web/src/theme/getThemeOptions.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: try theme.applyStyles
  packages/web/src/components/PlayerAvatar/index.tsx
  packages/web/src/components/PlayerDialog/ColorPicker/Color.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: add doctype declaration
  packages/web/src/index.html
Due: stylelint --cache --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: migrate to Grid2
  packages/web/src/components/PlayerDialog/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: update renovate schedule
  renovate.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: avoid auto types install
  .yarnrc.yml
Due: prettier --write, prettier --cache --ignore-unknown --write

chore: update next-env.d.ts
  packages/site/next-env.d.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: set up @sentry/babel-plugin-component-annotate
  babel.config.json
  knip.json
  packages/cordova/.babelrc.json
  packages/cordova/package.json
  packages/web/.babelrc.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

15.5.2
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: update config
  renovate.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

feat: try semver Sentry release format
  .github/workflows/deploy-app.yml
  packages/web/src/sentry.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.5.3
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: temporary disable renovate
  renovate.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

fix: fix helper modal scroll
  packages/web/src/components/Combat/HelperSelector/index.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

15.5.4
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: drop safe guards
  packages/web/src/components/Home/AppBar/index.tsx
  packages/web/src/utils/availableColors.ts
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore: packages upgrade
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --write, prettier --cache --ignore-unknown --write

15.5.5
  package.json
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write

chore: packages upgrade
  eslint.config.js
  package.json
  packages/cordova/package.json
  packages/site/package.json
  packages/web/package.json
  packages/web/src/domains/player/index.ts
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore(site): create global error
  packages/site/app/global-error.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore(site): update color-scheme
  packages/site/app/(not-multilingual)/layout.tsx
  packages/site/app/(not-multilingual)/not-found.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

fix(site): use hard links
  packages/site/app/(multilingual)/[language]/page.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore(site): update color-scheme
  packages/site/app/(multilingual)/[language]/layout.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore(site): create default index page
  packages/site/app/(default)/layout.tsx
  packages/site/app/(default)/not-found.tsx
  packages/site/app/(default)/page.tsx
  packages/site/app/(default)/privacy/page.tsx
  packages/site/app/(multilingual)/[language]/layout.tsx
  packages/site/app/(multilingual)/[language]/page.tsx
  packages/site/app/(not-multilingual)/layout.tsx
  packages/site/components/HomePage.tsx
  packages/site/components/RootLayout.tsx
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix

chore(site): use Next.js links
  knip.json
  packages/site/app/(default)/page.tsx
  packages/site/app/(multilingual)/[language]/page.tsx
  packages/site/components/HomePage.tsx
  packages/site/firebase.json
  packages/site/next.config.js
  packages/site/package.json
  yarn.lock
Due: eslint --cache --ext=.js,.json,.jsx,.mjs --fix, stylelint --cache --fix, prettier --cache --ignore-unknown --write, prettier --cache --write, node --max-old-space-size=4096 ./node_modules/eslint/bin/eslint.js --cache --fix
